main.project

  .container
    .row.row_fix
      .tile

        .col-md-6.col-lg-3
          .tile__item.row.block
            a.tile__link.text-xs-center(href="project-oz.html")
              .tile__icon
                +svg-icon('zdanie-obshchestvennoe')
              h4.tile__title
                | Общественные
                span.break-xs-up
                  | здания
        .col-md-6.col-lg-3
          .tile__item.row.block
            a.tile__link.text-xs-center(href="project-zz.html")
              .tile__icon
                +svg-icon('zdanie-zhiloe')
              h4.tile__title
                | Жилые
                span.break-xs-up
                  | здания
        .col-md-6.col-lg-3
          .tile__item.row.block
            a.tile__link.text-xs-center(href="project-pz.html")
              .tile__icon
                +svg-icon('zdanie-proizvodstvennoe')
              h4.tile__title
                | Производственные
                span.break-xs-up
                  | здания
        .col-md-6.col-lg-3
          .tile__item.row.block
            a.tile__link.text-xs-center(href="project-is.html")
              .tile__icon
                +svg-icon('inzhenernie-sistemi')
              h4.tile__title
                | Инженерные
                span.break-xs-up
                  | системы

    .row-table
      .block-t
        .block-t__wrap
          .block-t__content.block-t_w66

            .row
              .col-xs-12.row
                .breadcrumbs
                  ul.breadcrumbs__list
                    li.breadcrumbs__item
                      a.breadcrumbs__link(href="index.html")
                        span.breadcrumbs__icon
                          +svg-icon('home')
                    li.breadcrumbs__item
                      a.breadcrumbs__link(href="project.html") Проектирование
                h2.h1.page__title Проектирование

            .project__item
              h3.project__title.mt_1-5 Процесс проектирования
              p.project__text
                | Процесс проектирования жилых и общественных зданий, благодаря техническому прогрессу, изменился кардинальным образом. Современные технологии позволяют реализовывать архитектурные проекты высокого технического уровня с использованием последних достижений науки и техники. Образцами эффективного воплощения таких достижений стали выдающиеся объекты современной мировой архитектуры. Искусственный климат помещений, бесшумные лифты, эскалаторы, электронное программирование систем жизнеобеспечения, автоматические системы сигнализации и пожаротушения, стеклянные фасады, подземные многоуровневые паркинги – привычные элементы современных домов.
              p.project__text
                | Главной задачей нашей профессиональной деятельности в сфере проектирования жилых и общественных зданий остается создание гармоничной среды. Современные проектные системы, прогрессивные технические и технологические возможности строительства, разнообразие строительных унифицированных конструкций и материалов позволяют быстро возводить многоэтажные жилые дома, осваивать большие территории застройки. Такой подход позволяет улучшать городскую среду в плане психологического комфорта, тактичного отношения к природному окружению, разнообразия архитектурных приемов, их индивидуальной выразительности.

          .block-t__content.block-t_w33
            .project__item
              h1.h3.project__title#projectman Проектировщики
              h5.project__title Наши проектировщики разработают для Вас следующую проектную документацию:
            ul.list
              li.list__item
                span.list__icon
                  +svg-icon('checkbox')
                .list__title Архитектурные решения
              li.list__item
                span.list__icon
                  +svg-icon('checkbox')
                .list__title Конструктивные решения
              li.list__item
                span.list__icon
                  +svg-icon('checkbox')
                .list__title Технологические решения
              li.list__item
                span.list__icon
                  +svg-icon('checkbox')
                .list__title Инженерные системы:

                ul.list.list_sec-list
                  li.list__item.list__item_sec-list-item
                    span.list__icon
                      +svg-icon('checkbox')
                    .list__title водоснабжение и канализация
                  li.list__item.list__item_sec-list-item
                    span.list__icon
                      +svg-icon('checkbox')
                    .list__title слаботочные системы
                  li.list__item.list__item_sec-list-item
                    span.list__icon
                      +svg-icon('checkbox')
                    .list__title электроснабжение
                  li.list__item.list__item_sec-list-item
                    span.list__icon
                      +svg-icon('checkbox')
                    .list__title отопление, вентиляция и кондиционирование воздуха

              li.list__item
                span.list__icon
                  +svg-icon('checkbox')
                .list__title Другие разделы проектной документации

  .container
    .row.block
      .col-xs-12
        h3.project__title Этапы проектирования
        p.project__text
          | Организация процесса проектирования жилых и общественных зданий и взаимоотношения архитектора и заказчика регламентируется государственными нормами и правилами.
        p.project__text
          | Стадия «Эскизный проект»  разрабатывается на основании задания заказчика для принципиального определения требований к градостроительным, архитектурным, художественным, экологическим и функциональным решениям объекта, подтверждения возможности создания объекта непроизводственного назначения. Эскизный проект позволяет определиться с объемно-пространственными, архитектурно-планировочными решениями и технико-экономическими показателями. На его основании заказчик получает градостроительные условия и ограничения, а также технические условия на подключение к инженерным сетям города.
        p.project__text
          | Стадия «Проект» – это утверждаемая стадия проектной документации, которая «разрабатывается для определения градостроительных, архитектурных, художественных, экологических, инженерных решений объекта, сметной стоимости строительства.» После утверждения и экспертизы стадии «Проект» получается разрешение на начало строительных работ.
        p.project__text
          | На основе стадии «Проект» разрабатывается стадия «Рабочая документация», которая позволяет осуществлять строительство объекта архитектуры.
        p.project__text
          | Стоимость проектных работ также определяется соответствующими государственными строительными нормами и зависит от категории сложности и класса ответственности объекта строительства.