main.project-pz

  .container
    .row.block
      .col-xs-12
        .breadcrumbs
          ul.breadcrumbs__list
            li.breadcrumbs__item
              a.breadcrumbs__link(href="index.html")
                span.breadcrumbs__icon
                  +svg-icon('home')
            li.breadcrumbs__item
              a.breadcrumbs__link(href="project.html") Проектирование
            li.breadcrumbs__item
              a.breadcrumbs__link(href="project-pz.html") Производственные здания
        h2.h1.page__title.mb_1-5 Производственные здания

        .post__icon
          +svg-icon('zdanie-proizvodstvennoe', 'svg_x48')
        p.post__text
          | При разработке проектов производственных зданий промышленных предприятий следует обращать особое внимание на технологический процесс и связанный с ним внутренний режим, характер и воздействие внешних нагрузок, а также другие особенности эксплуатации.

  .container
    .row.block
      .col-xs-12
        .col-md-4
          .row
            .post__img-wrap.row
              img.post__img(src="img/project-pz.jpg", alt="Проектирование производственного здания")
        .col-md-8
          .row
            h1.post__title.h3.row Проектирование производственных зданий
        p.post__text
          | В зависимости от технологического процесса существуют предприятия с индивидуальным производственным режимом: с повышенной влажностью, со значительным тепловыделением (горячие цехи), агрессивной средой производства и другие. В зависимости от назначения здания промышленных предприятий делят на производственные, в которых размещают основные цеха, обслуживающие предприятие и вспомогательные, в которых размещают административно-бытовые помещения, столовые и другие помещения.
        p.post__text
          | Производственные здания проектируют, как одноэтажными, так и многоэтажными, с внутренним или наружным водостоком, однопролетными и многопролетными, а также могут быть оснащены подъемно-транспортным оборудованием.
        p.post__text
          | При разработке проектной документации промышленных предприятий необходимо принимать ряд взаимосвязанных экономических, организационных, технических, архитектурно-планировочных решений. Современные промышленные предприятия и производственные здания должны быть запроектированы с учетом наиболее прогрессивного технологического процесса и перспектив его развития.
        p.post__text
          | При разработке проекта определяют типы и размеры зданий, требуемые производственные площади, численность работников, тип и количество сырья и материалов. В процессе разработки проекта производственного здания важное значение приобретают экономическое решение внутрицехового транспорта, и целесообразный выбор вида и типа подъемно-транспортного оборудования. Этот выбор обуславливается технологическими процессами проектируемого предприятия.
        p.post__text
          | В настоящее время при проектировании промышленных предприятий особое внимание необходимо уделять объемно-планировочных решениям производственных зданий, диктуемых технологическими, санитарными, противопожарными, архитектурно-строительными и другими требованиями.
        p.post__text
          | Сотрудники нашей компании помогут глубоко проанализировать процесс создания технологического производства, определить оптимальные архитектурно-планировочные и инженерные решения и предложить наиболее рациональный вариант использования выделенных земельных участков и площадей.