main.project-oz

  .container
    .row.block
      .col-xs-12
        .breadcrumbs
          ul.breadcrumbs__list
            li.breadcrumbs__item
              a.breadcrumbs__link(href="index.html")
                span.breadcrumbs__icon
                  +svg-icon('home')
            li.breadcrumbs__item
              a.breadcrumbs__link(href="project.html") Проектирование
            li.breadcrumbs__item
              a.breadcrumbs__link(href="project-is.html") Инженерные системы
        h2.h1.page__title.mb_1-5 Инженерные системы

        .post__icon
          +svg-icon('inzhenernie-sistemi', 'svg_x48')
        p.post__text
          | Проектирование инженерных систем объектов недвижимости является одной из наиболее ответственных задач. При разработке проекта необходимо учитывать множество нюансов, начиная от подключения к наружным сетям и заканчивая оконечным устройством потребителя.

  .container
    .row.block
      .col-xs-12
        .col-md-4
          .row
            .post__img-wrap.row
              img.post__img(src="img/project-is.jpg", alt="Проектирование инженерных систем")
        .col-md-8
          .row
            h1.post__title.h3.row Проектирование инженерных систем
        p.post__text
          | В связи с повышением требований к работе инженерных систем, а именно: снижение затрат на их содержание, повышение энергоэффективности, выбор оптимального решения для конкретного объекта значительно усложнился.

      .col-xs-12
        h3.post__title Оптимизация инженерных систем
        p.post__text
          | На сегодняшний день одна из основных задач при разработке проектной документации – снизить потребление энергоресурсов и обеспечить правильную работу всех систем и оборудования. Это достигается за счет применения современных технологий (например: светодиодное освещение, автоматизация различных процессов, применение более эффективного оборудования).
        p.post__text
          | Инженерные системы зданий включают в себя следующие системы: водоснабжение и водоотведение (канализация), отопление, электроснабжение, газоснабжение, вентиляция и связи. Впрочем, для некоторых объектов отдельные виды инженерных сетей могут быть кондиционирование. Необходимость устройства каждой системы определяется техническим заданием на проектирование и требованиями существующих государственных норм и правил.