main.project-zz

  .container
    .row.block
      .col-xs-12
        .breadcrumbs
          ul.breadcrumbs__list
            li.breadcrumbs__item
              a.breadcrumbs__link(href="index.html")
                span.breadcrumbs__icon
                  +svg-icon('home')
            li.breadcrumbs__item
              a.breadcrumbs__link(href="project.html") Проектирование
            li.breadcrumbs__item
              a.breadcrumbs__link(href="project-zz.html") Жилые здания
        h2.h1.page__title.mb_1-5 Жилые здания

        .post__icon
          +svg-icon('zdanie-zhiloe', 'svg_x48')
        p.post__text
          | Наша организация выполняет проектирование индивидуальных жилых домов (коттеджей), зданий и комплексов малоэтажного строительства и высотных многоэтажных жилых зданий.

  .container
    .row.block
      .col-xs-12
        .col-md-4
          .row
            .post__img-wrap.row
              img.post__img(src="img/project-zz.jpg", alt="Проектирование жилого здания")
        .col-md-8
          .row
            h1.post__title.h3.row Проектирование жилых зданий
        p.post__text
          | Разработка проектной документации включает комплекс работ, направленных на развитие транспортной инфраструктуры участка, развитие инженерной инфраструктуры возможной перспективы (очередности) последующего проектирования зданий жилой застройки.
        p.post__text
          | Нормативные требования проектирования, предъявляемые к жилым зданиям, отличаются от требований по проектированию общественных зданий. В основном это требования по пожарной безопасности, требования, предъявляемые к инженерии проектируемого жилого здания, планировочные ограничения жилой застройки. Также необходимо учесть специфику жилого проектирования в части архитектурной планировки, объемно-пространственного решения проектируемого жилого здания, норм предъявляемых к размещению автотранспорта жильцов и норм в части культурно-бытового обслуживания проектируемого жилого здания, норм по обеспечению жизнедеятельности мало мобильных групп жильцов или посетителей встроенных помещений жилого комплекса зданий.
        p.post__text
          | Одним из важнейших элементов проектирования жилых, как в прочем и общественных, зданий является выбор конструктива проектируемого жилого объекта. В дальнейшем эта базовая характеристика проекта будет влиять на возможную вариантность планировок жилой площади, применяемые изоляционные и отделочные материалы, расход материалов и применяемую строительную технику, а значит окупаемость и продаваемость проектируемого жилого объекта инвестирования.
        p.post__text
          | Наша организация имеет опыт проектирования жилых зданий с применением различных конструктивных схем. Этот опыт имеет также важнейшее значение в прохождении экспертизы проектной документации жилого здания.
        p.post__text
          | Наши специалисты готовы оказать содействие в любых вопросах проектирования намечаемого жилого объекта.