main.project-oz

	.container
		.row.block
			.col-xs-12
				.breadcrumbs
					ul.breadcrumbs__list
						li.breadcrumbs__item
							a.breadcrumbs__link(href="index.html")
								span.breadcrumbs__icon
									+svg-icon('home')
						li.breadcrumbs__item
							a.breadcrumbs__link(href="project.html") Проектирование
						li.breadcrumbs__item
							a.breadcrumbs__link(href="project-oz.html") Общественные здания
				h2.h1.page__title.mb_1-5 Общественные здания

				.post__icon
					+svg-icon('zdanie-obshchestvennoe', 'text_big')
				p.post__text
					|В связи с постоянным развитием общества, изменениями его требований к организации жизненных процессов, развитием науки и техники меняются и функционально-технологические процессы, протекающие в общественных зданиях; поэтому меняются и их типы – одни исчезают, другие появляются. Этот процесс непрерывен. Вместе с тем классификация общественных зданий и сооружений по их назначению на определенный период времени остается стабильной.

	.container
		.row.block
			.col-xs-12
				.col-md-4
					.row
						.post__img-wrap.row
							img.post__img(src="img/project-oz.jpg", alt="Проектирование общественного здания")
				.col-md-8
					.row
						h1.post__title.h3.row Проектирование общественных зданий
				p.post__text
					|Основой всякого архитектурного сооружения является та жизненная функция, для которой это сооружение предназначается. Многообразие форм общественной жизни современного человека – общественно-политической, административной, культурной, бытовой – рождает различные здания, являющиеся материальной оболочкой, организующей эти процессы. Та общественная деятельность человека, ради которой строится здание, и является основой его объемно-планировочного решения, в котором учитываются функциональное назначение, количество участвующих в этой функции людей, необходимое оборудование, инженерное оснащение, благоустройство. Это многообразие содержаний общественных зданий определяет большое количество их типов, размеров и форм.

			.col-xs-12
				h3.post__title Нормы проектирования
				p.post__text
					|В настоящее время нормами проектирования установлено 13 групп организаций, учреждений и предприятий общественного обслуживания, каждая из которых состоит из отдельных видов учреждений и предприятий. Виды же в свою очередь подразделяют на типы общественных зданий, которые различают по вместимости и характеру эксплуатации.
				p.post__text
					|Все общественные здания в зависимости от назначения подразделяют на четыре класса, причем к I классу относятся здания, к которым предъявляют повышенные требования – крупные театры, музеи и т.п. Здания массового строительства (детские учреждения, школы, поликлиники и т.д.), как правило, относят ко II классу. Для каждого класса установлены эксплуатационные требования, определяющие качество наружной и внутренней отделки, характер инженерно-технического оборудования, требования долговечности и огнестойкости конструкций. Степень огнестойкости для I и II классов принимается не ниже II степени, для зданий III и IV классов степень огнестойкости не нормируется. Классификация зданий приводится в нормах проектирования отдельных типов зданий.