extends html/layouts/_sticky-footer

block page-vars
	-
		var page = {
			title: 'Real Estate',
			keywords: 'Keywords of page Real Estate',
			description: 'Description of page Real Estate'
		};

block body
	include html/pages/_home