main.montazh-tep

	.container
		.row.block
			.col-xs-12
				.breadcrumbs
					ul.breadcrumbs__list
						li.breadcrumbs__item
							a.breadcrumbs__link(href="index.html")
								span.breadcrumbs__icon
									+svg-icon('home')
						li.breadcrumbs__item
							a.breadcrumbs__link(href="montazh.html") Монтаж
						li.breadcrumbs__item
							a.breadcrumbs__link(href="montazh-tep.html") Системы теплоснабжения и вентиляции
				h2.h1.page__title.mb_1-5 Системы теплоснабжения и вентиляции

				.post__icon
					+svg-icon('teplosnab', 'text_big')
				p.post__text
					|Проектирование систем отопления и вентиляции для зданий различного назначения осуществляется на основании технического задания заказчика, строительных чертежей, дизайн-проектов объекта в соответствии с действующими строительными нормами и правилами. При разработке учитываются следующие параметры: влажность и температура воздуха, уровень шума от оборудования, скорость воздуха в вентиляционных коробах и каналах, габариты помещений и требуемые параметры микроклимата в них и т.п.

	.container
		.row.block
			.col-xs-12
				.col-md-4
					.row
						.post__img-wrap.row
							img.post__img(src="img/montazh-tep.jpg", alt="Вентиляция и отопление")
				.col-md-8
					.row
						h1.post__title.h3.row Проектирование систем отопления и вентиляции
				p.post__text
					|Разработка проекта включает в себя следующие этапы:- выполнение расчета теплопотерь по помещениям- подбор оборудования и выбор места установки- выполнение теплотехнического расчета- разработка планов и схем расположения оборудования- подготовка спецификаций оборудования и материалов
				p.post__text
					|Также дополнительно могут быть разработаны решения для теплых полов, подогрева пандуса, крыши, бассейна и т.п.
				p.post__text
					|Специалисты нашей компании выполняют полный спектр услуг по проектированию систем отопления, кондиционирования и вентиляции с учетом всех описанных выше этапов. Благодаря большому опыту наших сотрудников проекты выполняются оперативно и качественно. В своей работе мы учитываем все пожелания наших Заказчиков, при обязательном выполнении действующих норм и правила проектирования, монтажа и эксплуатации оборудования.
				p.post__text
					|Мы выполняем проектную и рабочую документацию для следующих зданий:

				ul.list
					li.list__item
						span.list__icon
							+svg-icon('checkbox')
						.list__title Административных, коммерческих и офисных зданий
					li.list__item
						span.list__icon
							+svg-icon('checkbox')
						.list__title Промышленных и производственных зданий и помещений
					li.list__item
						span.list__icon
							+svg-icon('checkbox')
						.list__title Общественных (ТРК, ТРЦ) магазинов, ресторанов
					li.list__item
						span.list__icon
							+svg-icon('checkbox')
						.list__title Жилых многоэтажных и индивидуальных зданий

				p.post__text
					|Также, при необходимости, мы осуществим согласования проекта во всех заинтересованных инстанциях.				

			.col-xs-12
				h3.post__title Монтаж систем отопления и вентиляции
				p.post__text
					|Монтаж и пуско-наладка систем отопления, вентиляции и кондиционирования – основной этап создания инженерного обеспечения объектов строительства, который обеспечивает поддержания комфорта, создание условий для продуктивной работы и жизни людей. С помощью внедрения современных и качественных технических решений в данной инженерной отрасли появилась возможность управлять температурой, влажностью, чистотой воздуха и другими параметрами жилых, офисных и производственных помещений.
				p.post__text
					|Многие владельцы недвижимости экономят на всем, привлекая неопытных специалистов для устройства инженерных систем, чем чревато для обеспечения дальнейшей комфортной жизнедеятельности. Конкретно наши работы по монтажу системы отопления, вентиляции и кондиционирования производятся в соответствии с строительными нормами и правилами и выполняются качественно и в срок.
				p.post__text
					|Наша компания занимается проектированием, монтажом, пуско-наладкой и ремонтом инженерных систем. За все время работы на рынке инженерных систем мы накопили огромный опыт проектирования и монтажа систем отопления в индивидуальных жилых домах, квартирах, офисных и производственных помещениях.
				p.post__text
					|Монтажные работы отопления и вентиляции для жилых домов и квартир – это очень ответственная работа, которая должна обеспечивать слаженное функционирование инженерных коммуникаций в комплексе, и от которой зависит здоровье и самочувствие людей, работающих и проживающих в этих помещениях.
				p.post__text
					|Монтаж промышленной вентиляции должен осуществляться в соответствии со спецификой производства, обеспечивая доступ свежего воздуха и удаление вредных веществ.
				p.post__text
					|Офисные помещения и рабочие зоны также нуждаются в создании здоровой атмосферы, для обеспечения продуктивной работы сотрудников.
				p.post__text
					|Решения по установке климатического оборудования в современном мире можно видеть практически в любом помещении. Как дома, так и в офисе кондиционеры спасают летом от жары, а многие их используют и зимой для обогрева помещений.
				p.post__text
					|В нашем интернет-магазине инженерного оборудования «ТехноСбыт24» (tehnosbyt24.ru) вы найдете кондиционеры качественных производителей, таких как Daikin, Kentatsu, Midea, Mitsubishi Electric и др.
				p.post__text
					|Наша компания производит установку кондиционеров, сплит-систем и пуско-наладку систем кондиционирования, вентиляции и воздушного отопления.
				p.post__text
					|Наши специалисты помогут в подборе нужного оборудования, приедут к Вам и рассчитают точную стоимость монтажа кондиционера. Стоимость установки кондиционера зависит от способа монтажа и длины инженерных трасс. В зависимости от сложности установить кондиционер можно за 1-2 дня.