main.montazh-vod

  .container
    .row.block
      .col-xs-12
        .breadcrumbs
          ul.breadcrumbs__list
            li.breadcrumbs__item
              a.breadcrumbs__link(href="index.html")
                span.breadcrumbs__icon
                  +svg-icon('home')
            li.breadcrumbs__item
              a.breadcrumbs__link(href="montazh.html") Монтаж
            li.breadcrumbs__item
              a.breadcrumbs__link(href="montazh-vod.html") Системы водоснабжения и канализации
        h2.h1.page__title.mb_1-5 Системы водоснабжения и канализации

        .post__icon
          +svg-icon('vodsnab', 'svg_x48')
        p.post__text
          | Проектирование систем водоснабжения и канализации (водоотведения) осуществляется в комплексе с разработкой всей рабочей документации объекта строительства.

  .container
    .row.block
      .col-xs-12
        .col-md-4
          .row
            .post__img-wrap.row
              img.post__img(src="img/montazh-vod.jpg", alt="Канализация и водоснабжение")
        .col-md-8
          .row.row
            h1.post__title.h3.row Проектирование систем водоснабжения и канализации
        p.post__text
          | Основой для разработки проектной и рабочей документации систем водоснабжения и канализации является результаты гидравлических расчетов, определение диаметров труб, выбор оборудования и способов прокладки трубопроводов. В дальнейшем разрабатываются схемы прокладки трубопроводов, определяются места расположения насосных установок, очистных сооружений узлов ввода и установки точек водоразбора.
        p.post__text
          | При проектировании должно учитываться множество различных факторов: частота их использования, рельеф местности, состав и характеристики грунта, климатические условия, нагрузка на сеть, условия эксплуатации, давление в системе и т.д. Проекты водоснабжения и канализации (ВК, НВК) разрабатываются в соответствии с действующими на территории России нормами и правилами проектирования.
        p.post__text
          | ООО «МБИ» осуществляет проектирование таких систем:

        ul.list
          li.list__item
            span.list__icon
              +svg-icon('checkbox')
            .list__title Внутренние сети водоснабжения
          li.list__item
            span.list__icon
              +svg-icon('checkbox')
            .list__title Внутренние и наружные сети ливневой канализации
          li.list__item
            span.list__icon
              +svg-icon('checkbox')
            .list__title Наружные сети водопровода и канализации

        p.post__text
          | Благодаря продуманной и налаженной схеме работы заказчик получает в строго оговоренное время качественный проект, готовый к реализации.
        p.post__text
          | Противопожарные системы водоснабжения оснащаются автоматическими средствами пожаротушения или полива. Данный факт обязательно учитывается еще на этапе выбора подходящего оборудования.
        p.post__text
          | Отопительная система объектов недвижимости неразрывно связана с горячим водоснабжением (ГВС), следовательно их проектирование должно быть совместным.

      .col-xs-12
        h3.post__title Монтаж водоснабжения и канализации
        p.post__text
          | Система водоснабжения – это одна из основных инженерных систем любого объекта. Поэтому без ее наличия в здании не возможна нормальная деятельность человека.
        p.post__text
          | Проектирование и монтаж водоснабжения необходимо проводить совместно с системой канализации. При установке системы отопления необходимо объединить водоснабжение и отопление в одну систему для обеспечения их совместной работы.
        p.post__text
          | Перед началом строительно-монтажных работ осуществляется подготовка здания и прилежащей территории к укладке трубопровода и установке необходимого оборудования.
        p.post__text
          | Следующим этапом идет непосредственно монтаж систем водопровода. На данном этапе производится сборка элементов трубопровода, их крепление к потолку, стенам и полу строения, установка различного оборудования (нагревательного, фильтровального, сантехнического и т.д.). При слаженной работе высококвалифицированных специалистов достигается качество проводимого монтажа.
        p.post__text
          | Окончательным этапом является проведение испытаний и эксплуатация систем. Если монтаж выполнен грамотно, то дальнейшая эксплуатация покажется незаметной и не создаст дополнительных хлопот и затрат на протяжении многих лет. Если же процесс прокладки трубопроводов и установки оборудования был выполнен не профессионально, то результатом могут стать постоянные засоры или протечки, которые могут не только помешать жизнедеятельности человека, но и уничтожить дорогостоящую отделку помещений.
        p.post__text
          | Именно по этой причине его доверять следует профессионалам. Кроме того, профессиональный монтаж водоснабжения подразумевает полное знание всех нюансов строительства, без которых не обойтись.
        p.post__text
          | Монтаж водоснабжения и канализации всегда должен выполняться с использованием нового оборудования и самых качественных и современных материалов.