main.montazh-cam

  .container
    .row.block
      .col-xs-12
        .breadcrumbs
          ul.breadcrumbs__list
            li.breadcrumbs__item
              a.breadcrumbs__link(href="index.html")
                span.breadcrumbs__icon
                  +svg-icon('home')
            li.breadcrumbs__item
              a.breadcrumbs__link(href="montazh.html") Монтаж
            li.breadcrumbs__item
              a.breadcrumbs__link(href="montazh-cam.html") Слаботочные системы
        h2.h1.page__title.mb_1-5 Слаботочные системы

        .post__icon
          +svg-icon('cam', 'svg_x48')
        p.post__text
          | Слаботочное оборудование можно увидеть в любом помещении или здании. Без слаботочных систем в современном мире не обойтись, как при строительстве многоэтажных жилых домов, общественных зданий и производственных корпусов, так и при строительстве индивидуальных жилых домов и проведения ремонтов в квартирах. Теперь подобные решения позиционируются в качестве важнейших элементов объектов недвижимости, потому что они оказывают существенное влияние на уровень комфорта, качество жизни и безопасности населения.

  .container
    .row.block
      .col-xs-12
        .col-md-4
          .row
            .post__img-wrap.row
              img.post__img(src="img/montazh-cam.jpg", alt="Видеонаблюдение")
        .col-md-8
          .row
            h1.post__title.h3.row Современные слаботочные системы
        p.post__text
          | Современные слаботочные сети включают в себя кабельные сети, вычислительные сети, линии передачи интернет-сигнала, телефонные и телевизионные линии, системы видеонаблюдения (охранного телевидения), контроля и управление доступом, а также пожарной и охранной сигнализации, противопожарные системы, оповещения и управления эвакуацией, включая сигналы ГО и ЧС, и многое другое. Помимо этого, для обеспечения непрерывной и правильной работы инженерного оборудования предусматривается автоматизация инженерных систем, которая управляет электроснабжением, водоснабжением, водоотведением, отоплением, вентиляцией и кондиционированием.

      .col-xs-12
        p.post__text
          | В современных торговых комплексах или на больших производственных предприятиях при эксплуатации зачастую используется мониторинг и диспетчеризация работы оборудования и сетей, которые подразумевают определение состояния технических узлов и агрегатов, а также управление инженерной инфраструктурой всего объекта с одного рабочего места.
        p.post__text
          | Чтобы слаботочная система работала стабильно и надежно, необходимо учитывать все современные строительные нормы и требования, а также рекомендации производителей оборудования и монтажников. Проектирование любой слаботочной сети должны выполнять опытные специалисты, поскольку в противном случае нельзя будет быть уверенным в надежности и эффективности ее работы.

      .col-xs-12
        h3.post__title Монтаж слаботочных систем
        p.post__text
          | Наша команда профессиональных монтажников поможет в работе по устройству слаботочных сетей. Мы работаем как с физическими лицами, так и с компаниями. К нам часто обращаются за услугой выполнения данных работ. Мы выполняем пуско-наладочные работы слаботочного оборудования, непосредственно монтаж и эксплуатацию сетей, включая следующие системы:

        ul.list
          li.list__item
            span.list__icon
              +svg-icon('checkbox')
            .list__title Пожарная сигнализация (ПС)
          li.list__item
            span.list__icon
              +svg-icon('checkbox')
            .list__title Охранная сигнализация (ОС)
          li.list__item
            span.list__icon
              +svg-icon('checkbox')
            .list__title Контроль и управление доступом (СКУД)
          li.list__item
            span.list__icon
              +svg-icon('checkbox')
            .list__title Автоматика противопожарной защиты (АППЗ):

            ul.list.list_sec-list
              li.list__item.list__item_sec-list-item
                span.list__icon
                  +svg-icon('checkbox')
                .list__title Дымоудаление
              li.list__item.list__item_sec-list-item
                span.list__icon
                  +svg-icon('checkbox')
                .list__title Подпор воздуха
              li.list__item.list__item_sec-list-item
                span.list__icon
                  +svg-icon('checkbox')
                .list__title Клапана дымоудаления
              li.list__item.list__item_sec-list-item
                span.list__icon
                  +svg-icon('checkbox')
                .list__title Огнезадерживающие клапана
              li.list__item.list__item_sec-list-item
                span.list__icon
                  +svg-icon('checkbox')
                .list__title Пожарная сигнализация

          li.list__item
            span.list__icon
              +svg-icon('checkbox')
            .list__title Оповещение и управление эвакуацией (СОУЭ)
          li.list__item
            span.list__icon
              +svg-icon('checkbox')
            .list__title Системы охранного телевидения (видеонаблюдение) (СОТ)
          li.list__item
            span.list__icon
              +svg-icon('checkbox')
            .list__title Телефонные сети (ТФ) и телевидение (ТВ)
          li.list__item
            span.list__icon
              +svg-icon('checkbox')
            .list__title Структурированные кабельные сети (СКС)
          li.list__item
            span.list__icon
              +svg-icon('checkbox')
            .list__title Локально-вычислительные сети (ЛВС)
          li.list__item
            span.list__icon
              +svg-icon('checkbox')
            .list__title Автоматизация отопления и вентиляции

        p.post__text
          | Данные системы имеются в любом здании и помещении. Использование их возрастает с каждым годом. Именно они обеспечивают комфортное и безопасное нахождение человека в помещении.
        p.post__text
          | Монтаж слаботочных систем следует доверять только специалистам. При обращении в нашу компанию, вы можете не сомневаться в качестве выполненных работ и грамотной установке слаботочного оборудования. Благодаря нашим знаниям и накопленному опыту мы предлагаем работы «под ключ», тем самым наши Заказчики не тратят свое время на решение «ненужных» вопросов» и не отвлекаются от ведение своего основного бизнеса.