main.montazh

	.container
		.row.row_fix
			.tile

				.col-md-6.col-lg-3
					.tile__item.row.block
						a.tile__link.text-xs-center(href="montazh-el.html")
							.tile__icon
								+svg-icon('electrosnab')
							h4.tile__title
								|Системы
								span.break-xs-up
									|электроснабжения

				.col-md-6.col-lg-3
					.tile__item.row.block
						a.tile__link.text-xs-center(href="montazh-vod.html")
							.tile__icon
								+svg-icon('vodsnab')
							h4.tile__title
								|Системы
								span.break-xs-up
									|водоснабжения и канализации

				.col-md-6.col-lg-3
					.tile__item.row.block
						a.tile__link.text-xs-center(href="montazh-tep.html")
							.tile__icon
								+svg-icon('teplosnab')
							h4.tile__title
								|Системы
								span.break-xs-up
									|отопления и вентиляции

				.col-md-6.col-lg-3
					.tile__item.row.block
						a.tile__link.text-xs-center(href="montazh-cam.html")
							.tile__icon
								+svg-icon('cam')
							h4.tile__title
								|Слаботочные
								span.break-xs-up
									|системы

		.row-table
			.block-t
				.block-t__wrap
					.block-t__content.block-t_w66

						.row
							.col-xs-12.row
								.breadcrumbs
									ul.breadcrumbs__list
										li.breadcrumbs__item
											a.breadcrumbs__link(href="index.html")
												span.breadcrumbs__icon
													+svg-icon('home')
										li.breadcrumbs__item
											a.breadcrumbs__link(href="montazh.html") Монтаж
								h2.h1.page__title Монтаж

						.montazh__item
							h3.montazh__title.mt_1-5 Монтаж инженерных систем
							p.montazh__text
								|Без внутренних инженерных сетей невозможно подключение объектов недвижимости к системам электроснабжения, водоснабжения и водоотведения, отопления, газоснабжения и слаботочным системам. Также ни один объект не может безопасно функционировать без систем вентиляции.
							p.montazh__text
								|Эксплуатация зданий возможна только при правильном функционировании сетей инженерно-технического обеспечения. Бесперебойное электроснабжение, водоснабжение и водоотведение, теплоснабжение обеспечивают безопасную работу оборудования и возможность нахождения и проживания в них людей. Слаженная работа инженерных коммуникаций незаметна для обывателя, однако выход из строя всего лишь одной системы, приводит к существенному дискомфорту и нарушению рабочих процессов.
					
					.block-t__content.block-t_w33
						.montazh__item
							h1.h3.montazh__title#montazhman Мотнажники
							h5.montazh__title Наши монтажники выполнят для Вас монтаж следующух инженерных систем:
						ul.list
							li.list__item
								span.list__icon
									+svg-icon('checkbox')
								.list__title Наружные и внутренние сети электроснабжения
							li.list__item
								span.list__icon
									+svg-icon('checkbox')
								.list__title Наружные и внутренние сети водоснабжения и водоотведения (канализации)
							li.list__item
								span.list__icon
									+svg-icon('checkbox')
								.list__title Внутренние слаботочные системы:

								ul.list.list_sec-list
									li.list__item.list__item_sec-list-item
										span.list__icon
											+svg-icon('checkbox')
										.list__title Пожарная и охранная сигнализация
									li.list__item.list__item_sec-list-item
										span.list__icon
											+svg-icon('checkbox')
										.list__title Видеонаблюдение
									li.list__item.list__item_sec-list-item
										span.list__icon
											+svg-icon('checkbox')
										.list__title Система контроля и управление доступом
									li.list__item.list__item_sec-list-item
										span.list__icon
											+svg-icon('checkbox')
										.list__title Автоматика систем вентиляции и противопожарной защиты
									li.list__item.list__item_sec-list-item
										span.list__icon
											+svg-icon('checkbox')
										.list__title Телефония, телевидение и интернет

							li.list__item
								span.list__icon
									+svg-icon('checkbox')
								.list__title Внутренние системы отопления, вентиляции и кондиционирования воздуха и многое другое

	.container
		.row.block
			.col-xs-12
				h3.montazh__title Монтажники и инженеры ООО «МБИ»
				p.montazh__text
					|Инженеры и монтажники нашей компании имеют большой опыт проектирования и подключения к инженерным сетям. Мы монтируем внутренние сети в Санкт-Петербурге и по всей России. Наши объекты – промышленные комплексы, коммерческие и торговые центры, административные и жилые многоэтажные здания, частные дома.