main.montazh-el

  .container
    .row.block
      .col-xs-12
        .breadcrumbs
          ul.breadcrumbs__list
            li.breadcrumbs__item
              a.breadcrumbs__link(href="index.html")
                span.breadcrumbs__icon
                  +svg-icon('home')
            li.breadcrumbs__item
              a.breadcrumbs__link(href="montazh.html") Монтаж
            li.breadcrumbs__item
              a.breadcrumbs__link(href="montazh-el.html") Системы электроснабжения
        h2.h1.page__title.mb_1-5 Системы электроснабжения

        .post__icon
          +svg-icon('electrosnab', 'svg_x48')
        p.post__text
          | Без надежного электроснабжения невозможна полноценная работа других инженерных систем, таких как: отопления, кондиционирования, водоснабжения, водоотведения, слаботочных систем, систем противопожарной защиты и эвакуации населения. Поэтому качеству проектирования данных систем, электромонтажных работ, подбору оборудования и материалов необходимо уделять особое внимание.

  .container
    .row.block
      .col-xs-12
        .col-md-4
          .row
            .post__img-wrap.row
              img.post__img(src="img/montazh-el.jpg", alt="Проектирование общественного здания")
        .col-md-8
          .row
            h1.post__title.h3.row Проектирование и монтаж систем электроснабжения
        p.post__text
          | Проектирование и монтаж системы электроснабжения это один из самых важных этапов монтажа инженерного обеспечения зданий и сооружений.
        p.post__text
          | Электромонтажным работам предшествует разработка проектной и рабочей документации. Качественный проект должен учитывать все требования действующих норм и правил. При этом необходимо: правильно определить категории электроприемников, обеспечить соответствующую надежность их электроснабжения, правильно разработать схему электроснабжения, рассчитать и учесть все электрические нагрузки, входящие в проектируемый объект. Также необходимо выбрать соответствующую нормам кабельную продукцию, качественные аппараты защиты, надежное осветительное оборудование и приборы учета, которые выполняют все требования энергоснабжающей организации.
        p.post__text
          | После разработки проектной или рабочей документации необходимо согласовать данные решения во всех заинтересованных инстанциях, исключив все возможные риски по отключению, переплате или даже выставлению штрафов за электроэнергию.
        p.post__text
          | Мы помогаем своим Заказчиком самые современные идеи, технологии и оборудование для электромонтажа, но в то же время, находим более экономичные решения для воплощения задуманных идей и выполнения всех требований к системе.

      .col-xs-12
        h3.post__title Монтаж систем электроснабжения
        p.post__text
          | После выполнения проектных работ по системе можно приступать к электромонтажных работам.
        p.post__text
          | Электромонтажные работы на каждом объекте имеют свою специфику. Ниже представлены основные виды электромонтажа:

        ul.list
          li.list__item
            span.list__icon
              +svg-icon('checkbox')
            .list__title Высоковольтные сети напряжением выше 1000 В
          li.list__item
            span.list__icon
              +svg-icon('checkbox')
            .list__title Наружные сети или сети внешнего электроснабжения напряжением до 1000 В
          li.list__item
            span.list__icon
              +svg-icon('checkbox')
            .list__title Наружное электроосвещение и подсветка фасадов
          li.list__item
            span.list__icon
              +svg-icon('checkbox')
            .list__title Внутренние электромонтажные работы (монтаж внутри зданий) систем электроснабжения напряжением до 1000 В на объектах промышленных предприятий, общественных и жилых зданий
          li.list__item
            span.list__icon
              +svg-icon('checkbox')
            .list__title Монтаж кабельных и кабеленесущих систем, токопроводов, электропроводок
          li.list__item
            span.list__icon
              +svg-icon('checkbox')
            .list__title Монтаж вводных, вводно-распределительных и распределительных устройств, шкафов автоматики, управления и защиты
          li.list__item
            span.list__icon
              +svg-icon('checkbox')
            .list__title Монтаж электрооборудования
          li.list__item
            span.list__icon
              +svg-icon('checkbox')
            .list__title Монтаж внутреннего освещения промышленных, торговых, офисных и жилых зданий
          li.list__item
            span.list__icon
              +svg-icon('checkbox')
            .list__title Другие виды электромонтажа

        p.post__text
          | Наша компания имеет большой опыт электромонтажа всех видов.
        p.post__text
          | К сожалению очень часто значимость инженерных и электромонтажных работ занижают, выделяя минимальный бюджет. Это заставляет подрядчиков применять оборудование и материалы низкого качества. Необоснованная экономия финансовых средств при монтаже систем электроснабжения впоследствии приводят к дополнительным затратам на ввод объекта в эксплуатацию, непосредственно на эксплуатацию объекта, а также возникают риски возникновения замыкания, срабатывания аппаратов защиты, перегреву оборудования и даже пожаров. Во избежание таких последствий мы рекомендуем: при выборе подрядчика на выполнение проектных и электромонтажных работ обращайтесь к профессионалам, которые хорошо знают свое дело; обеспечить достаточное финансирование электромонтажных работ, которые соответствуют строительными и техническими