main.page-404

	.container
		.row.block
			.col-xs-12
				h1.h1.page-404__hero.text-xs-center 404
				h2.page-404__title.mt_0.mb_1-5.text-xs-center К сожалению, страница не найдена!
				.page-404__btn-wrap.text-xs-center
					a.page-404__link.btn.mt_1-5(href="index.html") Главная страница