main {
  margin-top: 30px;
  margin-bottom: 20px;
}

iframe {
  vertical-align: top;
}

.home {
  margin-bottom: 0;

  &__projects {
    padding-bottom: 4rem;
    background-color: $second-light;
  }
}

.block {
  position: relative;
  padding-bottom: 50px;
  border-bottom: 1px solid $main;
  margin-bottom: 15px;
  background: $second-light;
}

.block-t {
  position: relative;
  width: 100%;

  &__content {
    margin-bottom: 15px;
  }

  &__img {
    margin-bottom: 15px;
    vertical-align: top;
  }
}

.block-t__img img {
  width: 100%;
  vertical-align: top;
}

.list {
  list-style-type: none;
  padding: 0;
  margin: 1rem 0 1rem 1rem;

  &__item {
    margin-bottom: 0.5rem;
  }

  &__title {
    display: inline;
    margin-left: 0.15rem;
    font-size: inherit;
    font-style: italic;
    text-transform: none;
  }

  &_sec-list {
    font-size: 0.9rem;
    margin-left: 1.8rem;
  }
}

.list_sec-list svg {
  font-size: 24px;
  fill: darken($main, 5%);
}

@media (min-width: 992px) {
  .row-table {
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 15px;
  }

  .block {
    margin-left: 0;
    margin-right: 0;
  }

  .block-t {
    display: table;
    border-collapse: separate;
    border-spacing: 15px 0;
    padding: 0;
    position: relative;

    &_w66 {
      width: 67%;
    }

    &_w50 {
      width: 50%;
    }

    &_w33 {
      width: 32%;
    }

    &__wrap {
      display: table-row;
    }

    &__content {
      display: table-cell;
      padding: 0 15px 50px;
      border-bottom: 1px solid $main;
      vertical-align: top;
      background: $second-light;
    }

    &__img {
      display: table-cell;
      padding: 0;
    }
  }
}

@media (max-width: 991px) {
  .row-table {
    margin-left: -7.5px;
    margin-right: -7.5px;
  }

  .block-t {
    border-spacing: 15px 0;
    margin-top: 0;

    &__content {
      padding: 15px;
      border-bottom: 1px solid $main;
      background: $second-light;
      padding-bottom: 3rem;
    }
  }
}

@media (max-width: 767px) {
  .block {
    margin-left: 0;
    margin-right: 0;
  }

  .row-table {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .row_fix {
    margin-left: -15px;
    margin-right: -15px;
  }
}