footer {
  background-color: $second-light;
}

footer h2 {
  text-align: center;
}

footer h3 {
  text-transform: uppercase;
  font-style: normal;
}

footer ul {
  padding: 0;
  list-style-type: none;
}

footer p,
footer a {
  color: $third;
}

footer a {
  text-transform: uppercase;
}