.home__title {
  margin-bottom: 2rem;
  text-align: center;
}

.home-left__link:hover {
  text-decoration: underline;
}

.shop {

  &__link-wrap {
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  &__link {
    display: inline-block;
    padding: 5px 20px;
    border-radius: 10px;
    transition: 0.6s;
    background-color: lighten($second, 10%);
    box-shadow: 1px 1px 15px $main;

    &:hover {
      transform: translateY(-5px);
      background-color: lighten($second, 15%);
      box-shadow: 1px 10px 25px $main;
    }
  }
}
.shop__icon svg {
  font-size: 64px;
}

// Services section
.uslugi {

  &__main-title {
    margin-bottom: 0;
  }

  &__item {
    margin-top: 2rem;
  }

  &__icon {
    fill: darken($third, 48%);
  }

  &__link {
    margin: 0.5rem 0 1rem;
  }
}

// Projects section
.slider-works {
  margin-bottom: 4rem;

  &__img {
    width: 100%;
    padding: 0 15px 15px;
  }

  &__item {
    margin-left: 7.5px;
    margin-right: 7.5px;
  }

}

.slider-works .slick-dots {
  text-align: center;
}

.slider-works .slick-dots li {
  padding: 2px;
}

.slider-works .works__desc {
  background-color: lighten($second, 15%) !important;
}

// Why section
.why {

  &__item {
    margin-bottom: 2rem;
  }

  &__text {
    font-size: 0.9375rem;
  }

  &__icon svg {
    fill: $main;
  }
}
.build-wrap {
  position: relative;
  padding-bottom: 150px;
}
.building {
  position: absolute;
  left: 0;
  bottom: 0;
  opacity: 0.2;

  &__img {
    width: 100%;
    vertical-align: bottom;
  }
}

@media (max-width: 543px) {
  .slider-works .works__desc {
    font-size: 0.9rem;
  }
}