.svg-checkbox {
  font-size: 28px;
  fill: $main;
}

.svg_x48 {
  font-size: 48px;
}

.svg_x64 {
  font-size: 64px;
}

// Page breadcrumbs
.breadcrumbs {
  padding-top: 2rem;

  &__list {
    margin: 0;
    padding: 0;
  }

  &__item {
    display: inline-block;
    color: darken($third, 30%);

    &:last-child {
      color: $third;

      &::after {
        display: none;
      }
    }

    &::after {
      content: '›';
      display: inline;
      margin-left: 0.4rem;
      margin-right: 0.2rem;
    }
  }

  &__link {
    vertical-align: top;
    color: inherit;

    &:hover {
      text-decoration: underline;
    }
  }

  &__icon {
    fill: $main;
  }
}

// Form
.form {

  &__label {
    display: block;
    margin-bottom: 3px;
    cursor: pointer;
  }

  &__input,
  &__textarea {
    width: 100%;
    padding: 5px;
    margin-bottom: 1rem;
    border: 1px solid $main;
    background-color: transparent;
    color: $third;
  }

  &__textarea {
    resize: vertical;
  }

  &__span {
    margin: 0 0.2rem;
  }

  &__btn {
    cursor: pointer;
    background-color: transparent;
  }

  &__input_error {
    border-color: #ff0000;
  }
}

// Page Tile
.tile {

  &__item {
    max-height: 215px;
    padding-top: 30px;
    padding-bottom: 50px;
    margin-left: -7.5px;
    margin-right: -7.5px;
  }

  &__title {
    padding: 0 10px;
    color: darken($third, 48%);
    transition: 0.25s;
  }

  &__icon {
    fill: darken($third, 48%);
    transition: 0.25s;
  }
}

.tile__link:hover .tile__title {
  color: $main;
}

.tile__link:hover .tile__icon {
  fill: $main;
}

.welcome {
  padding-top: 2.5rem;
  margin-bottom: 2rem;
  text-align: center;

  &__text {
    font-style: italic;
    text-transform: uppercase;
    color: $third;
    line-height: 1;
  }

  &__text_up {
    font-size: 1.3125rem;
  }

  &__text_down {
    font-size: 1.8125rem;
  }
}

// Page Post
.post {

  &__icon {
    float: left;
    margin: 0 25px 5px 15px;
    fill: #858585;
  }

  &__img-wrap {
    margin-top: 40px;
    margin-bottom: 15px;
  }

  &__img {
    vertical-align: top;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .tile__title {
    font-size: 0.9375rem;
  }
}

@media (min-width: 768px) {
  .post__img-wrap {
    margin-right: 15px;
  }

  .breadcrumbs {
    text-align: right;
    float: right;
    padding-top: 2.5rem;
  }

  // Page Title
  .page__title {
    max-width: 65%;
    margin-top: 1.5rem;
  }
}