extends html/layouts/_default

block page-vars
	-
		var page = {
			title: 'Грузовые перевозки | Квартирный и офисный переезд',
			description: 'Компания Авто Групп осуществляет грузоперевозки и переезды по городу Ярославль, Ярославской области и регионам. А также предоставляет услуги грузчиков, разнорабочих и работников складов.'
			// keywords: 'грузоперевозки, заказ грузовой газели, грузчики, переезды, экспедирование грузов'
		};

block body
	include html/pages/_home