.share42-svg__content

  .share42-svg__item
    +svg-icon('social-vk', 'social-vk__share42')
  .share42-svg__item
    +svg-icon('social-ok', 'social-ok__share42')
  .share42-svg__item
    +svg-icon('social-facebook', 'social-facebook__share42')
  .share42-svg__item
    +svg-icon('social-twitter', 'social-twitter__share42')
  .share42-svg__item
    +svg-icon('social-mail-ru', 'social-mail-ru__share42')
  .share42-svg__item
    +svg-icon('social-print', 'social-print__share42')