.upline {
  background-color: $second;

  &__icon {
    margin-top: 0.5rem;
    float: left;
  }

  &__text {
    display: inline-block;
    margin: 0.6rem 0 0 0.5rem;
    text-transform: lowercase;
    vertical-align: middle;
    font-style: normal;
  }
}

.upline svg {
  vertical-align: bottom;
}

.upline__icon svg {
  fill: $third;
}

.svg-mail {
  margin: 0 0.3rem 0 0.2rem;
}

.social {
  margin: 4px 0 4px -15px;

  &__link {
    display: inline-block;
    vertical-align: bottom;
    margin-left: 10px;
  }
}

.social__icon svg {
  stroke: darken($third, 20%);
  stroke-width: 2px;
  fill: transparent;
  transition: 0.15s;
  font-size: 16px;
}

.social__link:hover svg {
  fill: $third;
}

.upline-logo {
  padding: 10px 0;
}

@media (max-width: 767px) {
  .upline {
    background-color: transparent !important;
  }
}