@import '../../../blocks/navbar/navbar_2/navbar_2';

.nav-main__link {
  font-size: 0.9375rem;
}

@media (max-width: 543px) {
  .nav__page-title {
    font-size: 0.9375rem;
  }
}

@media (min-width: 767px) and (max-width: 992px) {
  .nav-main__link,
  .nav-second__link {
    font-size: 0.8125rem;
  }
}

@media (max-width: 992px) {
  .nav-main__item:not(:first-child) {
    margin-left: 0.65rem;
  }
}