//- Symbol svg inject
mixin svg-icon(name, mod)
  - mod = mod || ''
  svg(class="svg-" + name + ' ' + mod)
    use(xlink:href="#" + name)

mixin svg-icon-full(name, mod)
  - mod = mod || ''
  div(class="svg-" + name + "__container")
    svg(class="svg-" + name + "__icon" + ' ' + mod)
      use(xlink:href="#" + name)

//- Examples
//- +svg-icon('sec-two__map', 'green')

//- +svg-icon-full('sec-two__map', 'red')


//- Css-knob
mixin knob(name, val)
  - val = val || '100';

  div(class="knob" + ' ' + "knob_" + val)
    .knob__bar-wrap
      .knob__bar-one
      .knob__bar-two
    .knob__inner
      .knob__content
        p.knob__text #{name}