$arrow-left: (0px, 290px, 0px, -290px, 48px, 48px, 949px, 2399px, 'sprite.png');
$arrow-right: (0px, 343px, 0px, -343px, 48px, 48px, 949px, 2399px, 'sprite.png');
$at: (0px, 71px, 0px, -71px, 22px, 22px, 949px, 2399px, 'sprite.png');
$bank: (0px, 606px, 0px, -606px, 100px, 100px, 949px, 2399px, 'sprite.png');
$error: (0px, 154px, 0px, -154px, 26px, 26px, 949px, 2399px, 'sprite.png');
$expedirovanie: (0px, 1296px, 0px, -1296px, 220px, 130px, 949px, 2399px, 'sprite.png');
$favicon: (0px, 1701px, 0px, -1701px, 152px, 152px, 949px, 2399px, 'sprite.png');
$forwarding: (0px, 921px, 0px, -921px, 100px, 100px, 949px, 2399px, 'sprite.png');
$gorod: (0px, 1431px, 0px, -1431px, 220px, 130px, 949px, 2399px, 'sprite.png');
$gruzchiki: (0px, 1026px, 0px, -1026px, 220px, 130px, 949px, 2399px, 'sprite.png');
$hands: (0px, 396px, 0px, -396px, 100px, 100px, 949px, 2399px, 'sprite.png');
$home-active: (0px, 46px, 0px, -46px, 26px, 20px, 949px, 2399px, 'sprite.png');
$home: (0px, 21px, 0px, -21px, 26px, 20px, 949px, 2399px, 'sprite.png');
$lock: (0px, 501px, 0px, -501px, 100px, 100px, 949px, 2399px, 'sprite.png');
$mail: (0px, 0px, 0px, 0px, 24px, 16px, 949px, 2399px, 'sprite.png');
$manager: (0px, 711px, 0px, -711px, 100px, 100px, 949px, 2399px, 'sprite.png');
$map: (0px, 1858px, 0px, -1858px, 949px, 541px, 949px, 2399px, 'sprite.png');
$mezhgorod: (0px, 1566px, 0px, -1566px, 220px, 130px, 949px, 2399px, 'sprite.png');
$ok: (0px, 185px, 0px, -185px, 26px, 26px, 949px, 2399px, 'sprite.png');
$pereezdi: (0px, 1161px, 0px, -1161px, 220px, 130px, 949px, 2399px, 'sprite.png');
$person: (0px, 98px, 0px, -98px, 23px, 22px, 949px, 2399px, 'sprite.png');
$phone: (0px, 125px, 0px, -125px, 18px, 24px, 949px, 2399px, 'sprite.png');
$secure: (0px, 816px, 0px, -816px, 100px, 100px, 949px, 2399px, 'sprite.png');
$social-share: (0px, 253px, 0px, -253px, 32px, 32px, 949px, 2399px, 'sprite.png');
$social-vk: (0px, 216px, 0px, -216px, 32px, 32px, 949px, 2399px, 'sprite.png');
