main.portfolio

	.container
		.row.row_fix
			.works-sep
				.col-md-6
					.works-sep__item.row
						img.works-sep__img(src="img/portfolio-project.jpg", alt="Основные выполненные проектные работы")
						.works-sep__content.welcome
							.welcome__text.welcome__text_up Основные выполненные 
							.welcome__text.welcome__text_down проектные работы
							a.works-sep__link.btn.btn_active(href="portfolio-project.html") Перейти

				.col-md-6
					.works-sep__item.row
						img.works-sep__img(src="img/portfolio-montazh.jpg", alt="Основные выполненные монтажные работы")
						.works-sep__content.welcome
							.welcome__text.welcome__text_up Основные выполненные 
							.welcome__text.welcome__text_down монтажные работы
							a.works-sep__link.btn.btn_active(href="portfolio-montazh.html") Перейти

	.container
		.row.block
			.col-xs-12
				.breadcrumbs
					ul.breadcrumbs__list
						li.breadcrumbs__item
							a.breadcrumbs__link(href="index.html")
								span.breadcrumbs__icon
									+svg-icon('home')
						li.breadcrumbs__item
							a.breadcrumbs__link(href="portfolio.html") Портфолио
				h2.h1.page__title Портфолио
				
			.col-xs-12
				h1.h4.portfolio__title Портфолио компании ООО «МБИ»
				p.portfolio__text
					|На данный момент специалистами ООО «МБИ» разработана проектная и рабочая документация более 100 различных объектов недвижимости и инженерных систем. Все объекты проходили необходимые этапы согласований в государственных или коммерческих органах экспертизы, сетевых и сбытовых организациях. Многие из них реализованы при участии наших специалистов, которые осуществляли авторский надзор или проводили монтаж инженерных систем.

				p.portfolio__title
					|Наличие солидной материально-технической базы, собственного транспорта и квалифицированного персонала позволяет максимально быстро реагировать на поступающие запросы и предоставлять развернутый ответ по стоимости проектных и строительно-монтажных работ.