main.portfolio-montazh

	.container
		.row.block
			.col-xs-12
				.breadcrumbs
					ul.breadcrumbs__list
						li.breadcrumbs__item
							a.breadcrumbs__link(href="index.html")
								span.breadcrumbs__icon
									+svg-icon('home')
						li.breadcrumbs__item
							a.breadcrumbs__link(href="portfolio.html") Портфолио
						li.breadcrumbs__item
							a.breadcrumbs__link(href="portfolio-montazh.html") Монтаж
				h2.h1.page__title Мотнаж

				h1.h4.portfolio-montazh__title Основные выполненные монтажные работы
				p.portfolio-montazh__text
					|Организация монтажных работ на объекте всегда связана с определенными сложностями. Если рабочая документация выполнялась ООО «МБИ», по которой ведется монтаж, то решение многих вопросов на объекте, проходит быстро и незаметно. Совместно принятые решения проектировщика и монтажника, позволяют ускорить процесс монтажа без потери качества работ.

	.portfolio-montazh__container.container
		.works.row.row_fix

			.works__item.col-md-6.col-lg-4
				.row
					+works('img/portfolio-montazh-6.jpg', 'Монтаж электроосвещения и слаботочных систем в торговом центре «Атлантик-Сити» г.Санкт-Петербург', 'ТЦ «Атлантик-Сити» г.Санкт-Петербург', 'Монтаж')

			.works__item.col-md-6.col-lg-4
				.row
					+works('img/portfolio-montazh-1.jpg', 'Монтаж инженерных систем детского сада на 150 мест в п.Шушары г.Санкт-Петербург', 'Детский сад п.Шушары г.Санкт-Петербург', 'Монтаж')

			.works__item.col-md-6.col-lg-4
				.row
					+works('img/portfolio-montazh-7.jpg', 'Обследование и монтаж инженерных систем в офисном здании «Бородино Плаза» г.Москва', 'Офисное здание «Бородино Плаза» г.Москва', 'Монтаж')

			.works__item.col-md-6.col-lg-4
				.row
					+works('img/portfolio-montazh-2.jpg', 'Монтаж инженерных систем индивидуального жилого дома п.Солнечное Ленинградская обл.', 'Жилой дом п.Солнечное Ленинградская обл.', 'Монтаж')

			.works__item.col-md-6.col-lg-4
				.row
					+works('img/portfolio-montazh-3.jpg', 'Монтаж сетей противопожарной защиты в многоэтажном жилом доме п.Новоселье Ленинградская обл.', 'Многоэтажный жилой дом п.Новоселье Ленинградская обл.', 'Монтаж')

			.works__item.col-md-6.col-lg-4
				.row
					+works('img/portfolio-montazh-4.jpg', 'Монтаж сетей электроснабжения в коттеджном поселке «Суходольское» Ленинградская обл.', 'Коттеджный поселок «Суходольское» Ленинградская обл.', 'Монтаж')

			.works__item.col-md-6.col-lg-4
				.row
					+works('img/portfolio-montazh-5.jpg', 'Монтаж слаботочных систем и сетей электроснабжения многоэтажного жилого дома п.Янино-1 Ленинградская обл.', 'Многоэтажный жилой дом п.Янино-1 Ленинградская обл.', 'Монтаж')

			.works__item.col-md-6.col-lg-4
				.row
					+works('img/portfolio-montazh-8.jpg', 'Реконструкция и монтаж инженерных сетей многоэтажного жилого дома г.Санкт-Петербург', 'Многоэтажный жилой дом г.Санкт-Петербург', 'Монтаж')

			.works__item.col-md-6.col-lg-4
				.row
					+works('img/portfolio-montazh-9.jpg', 'Монтаж систем вентиляции, отопления, водоснабжения и водоотведения общеобразовательной школы на 400 мест г.Санкт-Петербург', 'Общеобразовательная школа на 400 мест г.Санкт-Петербург', 'Монтаж')