main.portfolio-project

  .container
    .row.block
      .col-xs-12
        .breadcrumbs
          ul.breadcrumbs__list
            li.breadcrumbs__item
              a.breadcrumbs__link(href="index.html")
                span.breadcrumbs__icon
                  +svg-icon('home')
            li.breadcrumbs__item
              a.breadcrumbs__link(href="portfolio.html") Портфолио
            li.breadcrumbs__item
              a.breadcrumbs__link(href="portfolio-project.html") Проекты
        h2.h1.page__title Проекты

        h1.h4.portfolio-project__title Основные выполненные проектные работы
        p.portfolio-project__text
          | Каждый проектируемый объект или система имеют свою индивидуальность. Сотрудники нашей компании подходят ответственно к выполнению самых сложных и индивидуальных проектов. Благодаря такому подходу Заказчики всегда довольны выполненной нами работой.

  .portfolio-project__container.container
    .works.row.row_fix

      .works__item.col-md-6.col-lg-4
        .row
          +works('img/portfolio-project-7.jpg', 'Разработка рабочей документации для Малоэтажного жилого комплекса в Ленинградская обл.', 'Малоэтажный жилой комплекс Ленинградская обл.', 'Проектирование')

      .works__item.col-md-6.col-lg-4
        .row
          +works('img/portfolio-project-8.jpg', 'Проектирование инженерных систем в детском городе профессий Кидбург г.Симферополь', 'Детский город профессий Кидбург г.Симферополь', 'Проектирование')

      .works__item.col-md-6.col-lg-4
        .row
          +works('img/portfolio-project-2.jpg', 'Проектирование инженерных систем торгового комплекса с административными зданиями в г.Москва', 'ТК с административными зданиями г.Москва', 'Проектирование')

      .works__item.col-md-6.col-lg-4
        .row
          +works('img/portfolio-project-3.jpg', 'Проектирование инженерных систем Яхт-клуба в г.Ивангород Ленинградская обл.', 'Яхт-клуб г.Ивангород Ленинградская обл.', 'Проектирование')

      .works__item.col-md-6.col-lg-4
        .row
          +works('img/portfolio-project-4.jpg', 'Разработка проектной документации для Детского лыжно-биатлонного комплекса в п.Лесколово Ленинградская обл.', 'Детский лыжно-биатлонного комплекс п.Лесколово Ленинградская обл.', 'Проектирование')

      .works__item.col-md-6.col-lg-4
        .row
          +works('img/portfolio-project-5.jpg', 'Разработка проектной и рабочей документации для складского логистического комплекса г.Санкт-Петербург', 'Складской логистический комплекс г.Санкт-Петербург', 'Проектирование')

      .works__item.col-md-6.col-lg-4
        .row
          +works('img/portfolio-project-6.jpg', 'Разработка проектной и рабочей документации для Торгового комплекса с административно-складскими зданиями в г.Дзержинский Московская обл.', 'ТК с административно-складскими зданиями г.Дзержинский Московская обл.', 'Проектирование')

      .works__item.col-md-6.col-lg-4
        .row
          +works('img/portfolio-project-9.jpg', 'Проектирование инженерных систем автотранспортного предприятия с административным и производственным зданиями и мойкой в п.Федоровское Ленинградская обл.', 'Автотранспортное предприятие п.Федоровское Ленинградская обл.', 'Проектирование')

      .works__item.col-md-6.col-lg-4
        .row
          +works('img/portfolio-project-1.jpg', 'Проектирование инженерных систем жилого 12-ти секционного дома в г.Домодедово Московская обл.', '12-ти секционный дом г.Домодедово Московская обл.', 'Проектирование')