mixin works(src, alt, title, type)

	a.works__link(href= src)
		.loupe
			+svg-icon('loupe')
		.works__img-wrap
			img.works__img(src= src, alt= alt)
		.works__desc
			.works__title #{title}
			.works__text #{type}

mixin works-lazy(src, alt, title, type)

	a.works__link(href= src)
		.loupe
			+svg-icon('loupe')
		.works__img-wrap
			img.works__img(src="/", data-lazy= src, alt= alt)
		.works__desc
			.works__title #{title}
			.works__text #{type}