.header {
  padding-bottom: 2rem;
  margin-bottom: 3rem;
  border-bottom: 10px solid $second-dark;
  background-color: $second-dark;
}

.version {
  margin: 1rem 0 1rem 1rem;
}

// Main circle
.main-circle {
  position: relative;
  padding: 40px;
  margin: 0 5%;
  overflow: hidden;
  font-size: 9px;
  transition: font-size 0.5s ease-out;

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 50%;
  }

  &::before {
    border: 3px solid $main;
    margin: 10px;
  }
  &::after {
    border: 2px solid rgba($second, 0.8);
  }

  &__wrap {
    position: relative;
    padding-top: 100%;
    border-radius: 50%;
    box-shadow: inset 0 0 130px rgba($main-light, 0.5);
  }

  &__decor {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 2px solid $main;
    margin: -8px;
    border-radius: 50%;
  }

  &__decor::before,
  &__decor::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 50%;
    border-width: 14px;
    margin: -14px;
    border-style: solid;
  }

  &__decor::before {
    border-color: $main transparent transparent transparent;
    transform: rotate(-135deg);
  }

  &__decor::after {
    border-color: $main $main transparent transparent;
    //transform: rotate(90deg);
  }

  &__content {
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
  }

  &__title {
    margin: 0;
    font-size: 4.5em;
    letter-spacing: 0.2em;
    color: #fff;
  }

  &__desc {
    position: relative;
    margin: 0;
    padding-top: 0.5em;
    font-size: 1.6em;
    letter-spacing: 0.25em;
    text-transform: uppercase;
    color: #fff;

    &::before,
    &::after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      margin: auto;
      border-radius: 50%;
    }

    &::before {
      top: 0;
      width: 100%;
      height: 0.2em;
      background-image: radial-gradient(circle at center, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.4) 100%);
      box-shadow: 0 0 4px 2px rgba(255, 255, 255, 0.4);
    }

    &::after {
      top: -0.15em;
      width: 0.5em;
      height: 0.5em;
      background-color: #fff;
      box-shadow: 0 0 18px 5px rgb(255, 255, 255);
    }
  }
}

// Circle Right
.circle-right__content {
  display: flex;
  justify-content: center;
}

// Social
.social {
  margin-top: 2rem;
  margin-left: 0.2em;
  font-size: 28px;
  text-align: center;

  &__item {
    display: inline-block;
    margin-right: 0.2em;
    margin-bottom: 0.3rem;
    vertical-align: bottom;
  }

  &__link {
    display: flex;
    width: 2em;
    height: 2em;
    border: 3px solid $main;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: $main-light;
    box-shadow: inset 0 0 20px 0px rgba($main-light, 0.5);
    transition: color 0.2s;
  }
}

// Contacts
.contacts {
  display: flex;
  padding: 20px 20px;
  margin-top: 2rem;
  border-top: 5px solid $main-light;
  background-color: $second;

  &__left {
    margin-right: 0.5em;
    color: $main-light;
  }
}

@media (min-width: 543px) {
  .main-circle {
    font-size: 18px;
  }
}

@media (min-width: 768px) {
  .version {
    margin-bottom: -1rem;
  }

  .main-circle {
    font-size: 11px;
  }

  .circle-left,
  .circle-right {
    position: absolute;
    width: 95%;
    min-height: 60px;
  }

  .circle-left {
    bottom: 30px;
    right: 5px;
    border-bottom: 1px solid $main;

    &__line {
      position: absolute;
      bottom: -1px;
      right: -64px;
      width: 100px;
      height: 55px;
      overflow: hidden;

      &::before,
      &::after {
        content: '';
        position: absolute;
      }

      &::before {
        top: 60px;
        left: -47px;
        width: 150px;
        height: 1px;
        transform: rotate(145deg);
        background-color: $main;
      }

      &::after {
        top: -213px;
        right: -266px;
        width: 300px;
        height: 300px;
        border: 1px solid $main;
        border-radius: 50%;
      }
    }
  }

  .circle-right {
    top: 30px;
    left: 5px;

    &__line {
      position: absolute;
      top: -1px;
      left: -64px;
      width: 64px;
      height: 55px;
      overflow: hidden;

      &::before,
      &::after {
        content: '';
        position: absolute;
      }

      &::before {
        top: -5px;
        left: -2px;
        width: 150px;
        height: 1px;
        transform: rotate(145deg);
        background-color: $main;
      }

      &::after {
        top: -32px;
        right: 30px;
        width: 300px;
        height: 300px;
        border: 1px solid $main;
        border-radius: 50%;
      }
    }

    &__content {
      justify-content: start;
    }
  }

  .contacts {
    margin-top: 0;
    padding-left: 10px;
    padding-right: 10px;

    &__left {
      display: none;
    }
  }
}

@media (min-width: 992px) {
  .main-circle {
    font-size: 17px;
  }

  .circle-left {

    &__line {
      right: -83px;
      height: 69px;

      &::after {
        top: -296px;
        right: -354px;
        width: 400px;
        height: 400px;
      }
    }
  }

  .circle-right {

    &__line {
      left: -84px;
      width: 85px;
      height: 68px;

      &::before {
        top: 10px;
        left: -2px;
      }

      &::after {
        top: -31px;
        right: 36px;
        width: 400px;
        height: 400px;
      }
    }
  }

  .social {
    font-size: 24px;
    white-space: nowrap;
  }

  .contacts {
    font-size: 0.8rem;

    &__left {
      display: block;
    }
  }
}

@media (min-width: 1200px) {

  .circle-left {

    &__line {
      right: -100px;
      width: 100px;
      height: 80px;

      &::after {
        top: -300px;
        right: -350px;
      }
    }
  }

  .circle-right {

    &__line {
      left: -100px;
      width: 100px;
      height: 80px;

      &::before {
        top: 20px;
        left: 0px;
      }

      &::after {
        top: -20px;
        right: 49px;
      }
    }
  }

  .social {
    font-size: 28px;
  }

  .contacts {
    font-size: 1rem;
  }
}
