// .logo__icon {
// 	float: left;
// 	margin-right: 0.625rem;
// }
// .logo-desc {
// 	padding-top: 0.2rem;
// }
// .logo-desc__text {
// 	margin: 0;
// 	line-height: 1.35;
// 	font-style: normal;
// 	font-weight: 300;
// 	font-size: 0.9375rem;
// 	color: darken($title-color, 15%);
// }