section {
	padding-bottom: 60px;
}
b,
strong {
	font-weight: 600;
}
.table > thead > tr > th {
	vertical-align: middle;
	font-weight: 400;
}
label {
	font-weight: normal;
}
textarea {
	resize: vertical;
}
input,
textarea {
	color: #333 !important;
}


@media (max-width: 543px) {
	label {
		font-size: 14px;
	}
}