.contacts {
	position: relative;
	padding: 0;

	&__bg {
		padding-top: 45%;
		background-image: url(../img/yaroslavl.jpg);
		background-size: cover;

		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: $second-cl;
			opacity: 0.8;
		}
	}

	&__container {
		position: absolute;
		top: 10%;
		left: 0;
		right: 0;
		text-align: center;
	}

	&__content {
		display: inline-block;
		padding: 0 60px 40px;
		background-color: #fff;
	}

	&__item {
		margin-bottom: 5px;
	}

	&__img {
		margin-right: 10px;
	}
}

.wrap-footer {
	position: relative;
}
.footer-cont {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	color: #fff;
	padding: 10px 0;
	background-color: darken($second-cl, 5%);
}

.social {
	display: inline-block;
	min-width: 180px;
	text-align: left;

	&__item {
		display: inline-block;
		width: 32px;
		height: 32px;
		margin-right: 3px;
		background-color: #1f2896;
		vertical-align: top;
	}
}

.share {
	display: inline-block;
	position: relative;

	&__btn {
		position: relative;
		padding: 0 2px 0 5px;
		z-index: 2;
		cursor: pointer;
		color: #fff;
		background-color: #1f2896;
	}

	&__icon {
		display: inline-block;
		width: 32px;
		height: 32px;
		margin-left: 5px;
		vertical-align: middle;
	}

	&__drop {
		display: none;
		position: absolute;
		bottom: 0;
		left: 0;
		width: 166px;
		padding: 1px 3px 35px;
		font-size: 0;
		background-color: #1f2896;
	}
}

#share42 a {
	margin: 5px 4px 2px;
	background-color: $second-cl !important;

	&:hover {
		background-color: darken($second-cl, 5%) !important;
	}
}

.share__btn:hover ~ .share__drop,
.share__drop:hover {
	display: block;
}

.footer-metrika {
	text-align: center;
}
.footer-copyright {
	text-align: right;
}


@media (max-width: 767px) {
	.contacts__bg {
		padding-top: 120%;
		background-image: url(../img/yaroslavl-mobile.jpg);
	}

	.footer-social,
	.footer-copyright {
		margin: 15px 0;
		text-align: center;
	}
}


@media (max-width: 543px) {
	.contacts__bg {
		padding-top: 200%;
	}
	.contacts__content {
		padding: 0 40px 20px;
	}
}