.navbar {

  &__input {
    display: none;
  }

  &__container {
    position: relative;
    margin: 0;
    text-align: right;
  }
}

// Nav-main
.nav-main {

  &__item {
    font-weight: normal;
    position: relative;
    display: inline-block;
    color: darken($third, 15%);

    &:not(:first-child) {
      margin-left: 1rem;
    }

    &:hover {
      color: $third;
    }

    &_active {
      font-weight: 500;
      color: $main;

      &:hover {
        color: $main;
      }
    }
  }

  &__link {
    white-space: nowrap;
    font-size: 1rem;
    font-weight: inherit;
    text-transform: uppercase;
    text-align: left;
    color: inherit;
    transition: color 0.2s;
  }
}

.nav-main__item:hover > .nav-second_dropdown {
  top: 1rem;
  opacity: 1;
  transition: opacity .3s;
}

// Nav-second
.nav-second {

  &_dropdown {
    position: absolute;
    top: -9999px;
    padding-top: 1.2rem;
    opacity: 0;
    overflow: hidden;
    z-index: 1998;
  }

  &__item {
    color: darken($third, 40%);
    position: relative;
    font-weight: normal;

    &:first-child {

      &::before {
        content: '';
        position: absolute;
        top: -1.3rem;
        left: 0.9rem;
        border-width: 0.25rem 0.65rem 1rem;
        border-color: transparent transparent $second;
        border-style: solid;
      }
      &::after {
        content: '';
        position: absolute;
        top: -5px;
        left: 0;
        width: 100%;
        height: 5px;
        background-color: $second;
      }
    }
  }

  &__link {
    display: block;
    padding: .65rem 1.75rem;
    border-bottom: 2px solid lighten($second, 10%);
    white-space: nowrap;
    font-size: 1rem;
    font-weight: inherit;
    text-align: left;
    transition: 0.15s;
    background-color: #000;
    color: inherit;

    &:hover {
      color: $third;
      background: $main;
    }
  }
}

.nav-second__item:hover > .nav-third_dropdown {
  opacity: 1;
  transition: .25s;
}

.nav-second__item:last-child .nav-second__link {
  border-width: 3px;
}

.icon-dropdown {
  padding-right: 1rem;

  &::before {
    content: '';
    position: absolute;
    border-style: solid;
    border-color: darken($third, 70%) transparent transparent;
    border-width: 0.3125rem 0.3125rem 0;
    right: 0;
    top: 50%;
    margin-top: -0.1875rem;
  }
}

.nav__page-title {
  display: none;
}

@media (max-width: 767px) {
  .navbar {

    &__mobile {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      height: 50px;
      border-bottom: 5px solid #333;
      z-index: 1998;
      background-color: #000;
    }

    &__toggler {
      display: block;
      width: 32px;
      height: 32px;
      position: relative;
      top: 5.5px;
      left: 13px;
      cursor: pointer;
      background-color: rgba(0, 0, 0, 0.5);
    }

    &__icon {
      display: block;
      width: 28px;
      height: 2px;
      background-color: $third;
      position: relative;
      top: 22px;
      left: 15px;

      &::before,
      &::after {
        content: '';
        position: absolute;
        display: block;
        width: 28px;
        height: 2px;
        background-color: $third;
      }

      &::before {
        top: 8px;
        transition: 0.35s;
      }

      &::after {
        bottom: 8px;
        opacity: 1;
        transition: opacity 0.2s;
      }
    }
  }

  // Nav-main
  .nav-main {
    position: fixed;
    top: 50px;
    bottom: 0;
    left: -200%;
    z-index: 1998;
    overflow-y: auto;
    overflow-x: hidden;
    transition: left 1s;

    &__item {
      display: block;
      margin: 0 !important;

      &_active:hover {
        color: $third;
      }
    }

    &__link {
      display: block;
      padding: 0.625rem 0.9375rem;
      border-bottom: 2px solid lighten($second, 10%);
      transition: 0.25s;
      background-color: lighten($second, 3%);

      &:hover {
        color: $third;
        background-color: $main;
      }
    }
  }

  // Nav-second
  .nav-second {

    &_dropdown {
      position: static;
      opacity: 1;
      padding-top: 0;
    }
    &__link {
      display: block;
      padding-left: 1.5rem;
      background-color: lighten($second, 5%);
    }
  }

  .navbar__input:checked ~ .navbar__container .nav-main {
    left: 0;
  }

  .navbar__input:checked ~ .navbar__container .navbar__toggler {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .navbar__input:checked ~ .navbar__container .navbar__icon {
    transform: rotate(-45deg);
  }
  .navbar__input:checked ~ .navbar__container .navbar__icon::before {
    transform: rotate(-90deg);
    top: 0;
  }
  .navbar__input:checked ~ .navbar__container .navbar__icon::after {
    opacity: 0;
  }

  .nav__page-title {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
    left: 70px;
    color: #fff;
  }
}