.navbar
	input#nav-mini.navbar__input(type='checkbox')
	.navbar__container

		.navbar__mobile
			span.navbar__icon
			label.navbar__toggler(for='nav-mini')
			h3.nav__page-title Главная
		
		ul.nav-main
			li.nav-main__item.nav-main__item_active
				a.nav-main__link(href='index.html') Главная

			li.nav-main__item
				a.nav-main__link.icon-dropdown(href='about-company.html') О компании
				ul.nav-second.nav-second_dropdown
					li.nav-second__item
						a.nav-second__link(href='details.html') Реквизиты
					li.nav-second__item
						a.nav-second__link(href='partners.html') Партнеры
					li.nav-second__item
						a.nav-second__link(href='otzivi.html') Отзывы
					li.nav-second__item
						a.nav-second__link(href='vacancy.html') Вакансии

			li.nav-main__item
				a.nav-main__link.icon-dropdown(href='portfolio.html') Портфолио
				ul.nav-second.nav-second_dropdown
					li.nav-second__item
						a.nav-second__link(href='portfolio-montaz.html') Проекты
					li.nav-second__item
						a.nav-second__link(href='portfolio-montaz.html') Монтаж

			li.nav-main__item
				a.nav-main__link.icon-dropdown(href='montaz.html') Монтаж
				ul.nav-second.nav-second_dropdown
					li.nav-second__item
						a.nav-second__link(href='#Систем электроснабжения') Систем электроснабжения
					li.nav-second__item
						a.nav-second__link(href='#Систем водоснабжения и канализации') Систем водоснабжения и канализации
					li.nav-second__item
						a.nav-second__link(href='#Систем отопления и вентиляции') Систем отопления и вентиляции
					li.nav-second__item
						a.nav-second__link(href='#Слаботочных систем') Слаботочных систем

			li.nav-main__item
				a.nav-main__link.icon-dropdown(href='project.html') Проектирование
				ul.nav-second.nav-second_dropdown
					li.nav-second__item
						a.nav-second__link(href='project-oz.html') Общественных зданий
					li.nav-second__item
						a.nav-second__link(href='project-oz.html') Жилых зданий
					li.nav-second__item
						a.nav-second__link(href='project-oz.html') Производственных зданий
					li.nav-second__item
						a.nav-second__link(href='project-is.html') Инженерных систем

			li.nav-main__item
				a.nav-main__link(href='contacts.html') Контакты