extends html/layouts/_default

block page-vars
  -
    var page = {
        title: 'Alrun',
        description: 'Alrun portfolio',
        keywords: 'Alrun, portfolio'
    };

block body
  include html/pages/_home