style
	|.slider-main {
	|	max-height: 360px;
	|}
	|.slider-main__item {
	|	position: relative;
	|}
	|.slider-main__item::after {
	|	content: "";
	|	display: block;
	|	position: absolute;
	|	top: 0;
	|	bottom: 0;
	|	left: 0;
	|	right: 0;
	|	background-color: rgba(0,0,0,0.2);
	|}
	|.slider-main .slider-main__hero {
	|	display: none;
	|}