main

	include _section-carousel
	include _section-services
	include _section-prices
	include _section-advantages
	include _section-reviews

include ../includes/_modal-about
include ../includes/_modal-detaile
include ../includes/_modal-new_review