section.advantages
	.container
		.row
			h6.h2.page__title.text-center Почему выбирают нас?

			.col-md-12
				.row
					.col-md-6
						.advantages__icon
							i.icon.icon-manager
						.advantages__desc
							.advantages__title.h4 Индивидуальный менеджер
							p.advantages__text Вам назначается индивидуальный менеджер, который контролирует весь ход работы а также, возможные изменения по времени.
					.col-md-6
						.advantages__icon
							i.icon.icon-lock
						.advantages__desc
							.advantages__title.h4 Фиксированная цена
							p.advantages__text При заказе вы оговариваете фиксированную цену за определенные услуги, которая не изменится в дальнейшем.

					.col-md-6
						.advantages__icon
							i.icon.icon-hands
						.advantages__desc
							.advantages__title.h4 Собственный автопарк
							p.advantages__text Компания владеет собственным автопарком с опытным и проверенным персоналом.
					.col-md-6
						.advantages__icon
							i.icon.icon-bank
						.advantages__desc
							.advantages__title.h4 Безналичный расчет
							p.advantages__text Транспортные услуги можно оплатить как за наличный так и безналичный расчет. Наша компания предоставляет полный комплект документов.

					.col-md-6
						.advantages__icon
							i.icon.icon-secure
						.advantages__desc
							.advantages__title.h4 Материальная ответственность
							p.advantages__text Наша компания несет полную материальную ответственность за груз во время транспортировки, согласно договору на грузоперевозки.
					.col-md-6
						.advantages__icon
							i.icon.icon-forwarding
						.advantages__desc
							.advantages__title.h4 Экспедирование грузов
							p.advantages__text Наша компания предоставляет сервис по приемке и сдаче товара по накладной при доставке груза в несколько точек.

#ss-reviews.anchor