section.prices
	.container
		.row
			h6.h2.page__title.text-center Наши цены

			.container
				table.table.table-bordered.table-striped
					thead
						tr
							th.table__service Вид работы
							th.table__price Стоимость услуги
							th.table__time
								.hidden-xs Минимальное время заказа, ч.
								.visible-xs-block Мин. время заказа, ч.
					tbody
						tr
							td.text-left Заказать газель (3м) по городу
							td.text-right
								|400
								span.rub a
								|/час
							td.text-center 2
						tr
							td.text-left Заказать газель (4м) по городу
							td.text-right
								|550
								span.rub a
								|/час
								span.text-warning *
							td.text-center 2
						tr
							td.text-left Заказать газель фермер по городу
							td.text-right
								|400
								span.rub a
								|/час
							td.text-center 2
						tr
							td.text-left Услуги грузчиков, разнорабочих и работников складов
							td.text-right
								|550
								span.rub a
								|/час
								span.text-warning *
							td.text-center 2
						tr
							td.text-left Квартирные, офисные и дачные переезды (газель (3м) и 2 грузчика)
							td.text-right
								|400
								span.rub a
								|/час
							td.text-center 2
						tr
							td.text-left Экспедирование
							td.text-right
								|550
								span.rub a
								|/час
								span.text-warning *
							td.text-center 2
						tr
							td.text-left Заказ газели (3м) межгород
							td.text-right
								|400
								span.rub a
								|/час
							td.text-center 2
						tr
							td.text-left Заказ газели (4м) межгород
							td.text-right
								|550
								span.rub a
								|/час
								span.text-warning *
							td.text-center 2
						tr
							td.text-left Заказать газель (3м) по городу
							td.text-right
								|400
								span.rub a
								|/час
							td.text-center 2
						tr
							td.text-left Заказ газели фермер межгород
							td.text-right
								|550
								span.rub a
								|/час
								span.text-warning *
							td.text-center 2

				.h6.text-sm-right
					span.text-warning *
					|При заказе 2 грузчиков на 8 часовой рабочий день
				.h6.text-sm-right
					span.text-warning **
					|Считается в обе стороны

#ss-advantages.anchor