footer
	.contacts
		.contacts__bg
		.contacts__container
			.contacts__content.text-left
				.h2.page__title.text-center Контакты
				.contacts__item
					span.contacts__img
						i.icon.icon-phone
					span.contacts__text +7 (4852) 930-920
				.contacts__item
					span.contacts__img
						i.icon.icon-phone
					span.contacts__text +7 (915) 991-28-41
				.contacts__item
					span.contacts__img
						i.icon.icon-at
					span.contacts__text 930920.yar@gmail.com

	.wrap-footer
		.footer-cont
			.container
				.row
					
					.footer-social.col-sm-4
						.social
							.social__item
								a(href="http://vk.com/yar930920", target="_blank", title="Наша группа в VK")
									i.icon.icon-social-vk
							//- .social__item

							.share
								.share__btn
									|Поделиться
									span.share__icon
										i.icon-social-share
								.share__drop
									.share42init(data-path="img/")

					.footer-metrika.col-sm-4
						a(href="https://metrika.yandex.ru/stat/?id=35426540&amp;from=informer", target="_blank", rel="nofollow")
							img(src="//informer.yandex.ru/informer/35426540/3_0_FFC520FF_FFA500FF_0_pageviews", style="width:88px; height:31px; border:0;", alt="Яндекс.Метрика", title="Яндекс.Метрика: данные за сегодня (просмотры, визиты и уникальные посетители)", onclick="try{Ya.Metrika.informer({i:this,id:35426540,lang:'ru'});return false}catch(e){}")

						include ../../vendor/yandex/yandex_metrika

					.footer-copyright.col-sm-4
						.copyright
							.h6.mb_0 Auto Group &copy; 2015–2017
							.h6.text_light All Rights Reserved.