.modal.fade#detaileModal(tabindex="-1", role="dialog", aria-labelledby="SystemModalLabel")
	.modal-dialog(role="document")
		.modal-content
			.modal-header
				button.close(type="button", data-dismiss="modal", aria-label="Close")
					span(aria-hidden="true") &times;
				h4.modal-title#SystemModalLabel Квартирные, офисные и дачные переезды
			.modal-body
				.row
					.col-md-12
						p
							|День переезда может быть сопряжен с сильным стрессом, особенно если вы планируете воспользоваться услугами своих родственников и знакомых. При переноске тяжелых вещей в помещениях с большим количеством лестниц, повышается риск порчи имущества и получения травм вашими работниками. Но это не означает, что опыт должен быть несчастным.
						p
							|После десяти лет в данном бизнесе, мы отточили мастерство перемещения наших клиентов из одного помещения в другое. Наша компания может сделать день переезда менее утомительным. Воспользовавшись услугами профессиональных грузчиков, вы уменьшаете стресс до минимума и способствуете получению положительного опыта.
						p
							|Помимо городского и междугороднего переезда, мы так же предоставляем услуги:
						ul
							li Упаковка/Распаковка
							li Погрузка/Разгрузка
							li Упаковочный материал
						p
							|Для заказа услуги переезда, Вам достаточно позвонить по номеру 930920, +7 (915) 991-28-41 или воспользоваться функцией Заказа звонка, и наш менеджер свяжется с Вами сразу, как только сможет.

			.modal-footer
				button.btn.btn-info(type="button", data-dismiss="modal") Закрыть