.modal.fade#aboutModal(tabindex="-1", role="dialog", aria-labelledby="gridSystemModalLabel")
	.modal-dialog.modal-lg(role="document")
		.modal-content
			.modal-header
				button.close(type="button", data-dismiss="modal", aria-label="Close")
					span(aria-hidden="true") &times;
				h4.modal-title#gridSystemModalLabel О компании Авто Групп
			.modal-body
				.row
					.col-md-12
						p
							|У Вас планируется переезд, но не знаете где заказать газель с грузчиками? Вам необходима перевозка мебели, холодильника, банкоматов, кофейных аппаратов, строительных материалов или даже пианино, но не знаете куда обратиться? Тогда Вы обратились по адресу! Транспортная компания «Авто Групп», поможет Вам в решении этих проблем!
						p
							|Наша компания быстро и качественно решит самые разнообразные задачи, поставленные клиентами, будь то организация офисного переезда, квартирный переезд под ключ или дачный переезд.
						p
							|Мы работаем в сфере перевозки грузов автотранспортом уже не первый год, поэтому уверенно можем предложить своим клиентам:
						ul
							li Точное соблюдение сроков доставки;
							li Гибкое планирование каждого маршрута;
							li Тщательный контроль на протяжении всего пути следования;
							li Различные варианты снижения затрат на доставку;
							li Работу с грузами различного типа;

						p Основной вид нашей деятельности — это предоставление услуги профессиональных грузчиков, организация транспортных услуг во время квартирных, офисных, дачных переездов и грузовые междугородние перевозки. Самым главным в оказании таких услуг являются два правила: своевременность доставки и сохранение целостности груза. Сотрудники нашей компании осознают важность своей роли в этом серьёзном деле, поэтому они всегда готовы быстро и предельно аккуратно выполнить свои обязанности.
						p В числе предоставляемых услуг:
						ul
							li Погрузка, разгрузка фур и ж\д вагонов;
							li Квартирные, офисные и дачные переезды;
							li Доставка строительных материалов, изделий и товаров народного потребления;
							li Перевозка, сборка и разборка мебели;
							li Складские работы;
							li Любые погрузочно-разгрузочные работы;
							li Такелажные работы;

						p
							|Перевозки на газели — это самые востребованные перевозки по городу, так как это наиболее мобильное транспортное средство, способное перевозить грузы массой до 1,5 тонн, что позволяет решить много проблем, связанных с грузоперевозками в самые короткие сроки. Так же это самые дешевые перевозки, так как экономически нецелесообразно покупать, или арендовать большой грузовик, чтобы использовать его объем наполовину.
						p
							|Заказ газели для перевозки, недорого обойдется для Вас и Ваших близких, так как у нас существуют фиксированные тарифы, которые менеджер четко оговаривает с Вами.
						p
							|Наши опытные сотрудники всегда работают четко и очень быстро, не заставляя Вас ожидать долгое время, тем самым экономя ваши средства.  Если вам необходимо заказать газель для перевозки мебели, то наши грузчики помогут вам разобрать и собрать ее на месте погрузки и выгрузки.
						p
							|Таким образом, если вы надумали переезд, или хотите приобрести бытовую технику или мебель, или просто доставить нужный груз до места смело звоните к нам. Мы находим индивидуальный подход к каждому своему клиенту, благодаря чему после совместной работы с нашей компанией у вас останутся лишь приятные воспоминания и желание дальнейшего сотрудничества.

			.modal-footer
				button.btn.btn-info(type="button", data-dismiss="modal") Закрыть