nav.navbar.navbar-inverse
	.container
		.row
			.container-fluid
				.navbar-header
					button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target="#navbar-collapse", aria-expanded="false")
						span.sr-only Toggle navigation
						span.icon-bar
						span.icon-bar
						span.icon-bar
					button.navbar-brand(type="button", data-toggle="modal", data-target="#aboutModal") Авто Групп
			
				.collapse.navbar-collapse#navbar-collapse
					ul.nav.navbar-nav.navbar-right
						li.menu-item.hidden-xs
							a(href="#ss-header")
								i.icon.icon-home
						li.menu-item
							a(href="#ss-services") Услуги
						li.menu-item
							a(href="#ss-prices") Цены
						li.menu-item
							a(href="#ss-advantages") Преимущества
						li.menu-item
							a(href="#ss-reviews") Отзывы
						li.menu-item
							a(href="#ss-contacts") Контакты