.ps-gallery__item {
  margin: 0;
  padding: 0;
  z-index: 3;
  opacity: 0.8;
  transition: opacity 0.25s;

  &_main {
    height: 320px;
    overflow: hidden;
  }

  &:hover {
    opacity: 1;
  }
}

.ps-gallery__link {
  display: block;
}

.ps-gallery__img {
  width: 100%;
  vertical-align: top;
}

@media (min-width: 768px) {
  .ps-gallery__item_main {
    height: 400px;
  }
}

@media (min-width: 1200px) {
  .ps-gallery__item {
    z-index: 1;
  }
}