.slick-prev,
.slick-next {
	display: block;
	position: absolute;
	top: 50%;
	width: 30px;
	height: 30px;
	padding: 0;
	border: none;
	margin-top: -15px;
	outline: none;
	z-index: 1000;
	font-size: 0;
	line-height: 0;
	cursor: pointer;
	color: transparent;
	background: transparent;
}
.slick-prev {
	left: -29px;
	transform: rotate(-45deg);
}
.slick-next {
	right: -29px;
	transform: rotate(135deg);
}
.slick-prev::before,
.slick-prev::after,
.slick-next::before,
.slick-next::after {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	background-color: #eee;
	transition: background-color .3s;
}
.slick-prev::before,
.slick-next::before {
	background-color: violet;
	top: 0;
	width: 30px;
	height: 3px;
}
.slick-prev::after,
.slick-next::after {
	bottom: 0;
	width: 3px;
	height: 30px;
}
.slick-prev:hover::before,
.slick-prev:hover::after,
.slick-next:hover::before,
.slick-next:hover::after {
	background-color: #bbb;
}

.slick-dots {
	display: block;
	position: absolute;
	width: 100%;
	padding: 0;
	margin: 0;
	list-style: none;
}
.slick-dots li {
	display: inline-block;
	position: relative;
	padding: 0;
	cursor: pointer;
	background-color: #999;
	transition: .2s;
}
.slick-dots li:hover {
	background-color: #777;
}
.slick-dots li:not(:first-child) {
	margin-left: 10px;
}
.slick-dots li button {
	display: block;
	border: 0;
	outline: none;
	font-size: 0;
	line-height: 0;
	cursor: pointer;
	color: transparent;
	background: transparent;
}
.slick-dots .slick-active,
.slick-dots .slick-active:hover {
	background-color: #47b900;
}

@media (max-width: 543px) {
	.slick-prev {
		left: -20px;
	}
	.slick-next {
		right: -20px;
	}
}