$icomoon-font-path: "../fonts/icons" !default;

$icon-email: "\e900";
$icon-facebook: "\e901";
$icon-github: "\e902";
$icon-on-off: "\e903";
$icon-phone: "\e904";
$icon-skype: "\e905";
$icon-study: "\e906";
$icon-tech: "\e907";
$icon-viber: "\e908";
$icon-vk: "\e909";
$icon-web: "\e90a";
$icon-wp: "\e90b";

