extends html/layouts/_default

block page-vars
	-
		var page = {
			title: 'Контакты | МБ Инжиниринг Групп',
			description: 'Контактная информация: адрес, схема проезда, телефоны  и электронная почта компании МБ Инжиниринг Групп в Санкт-Петербурге',
			keywords: 'Почта компании МБИ, адрес фирмы МБ Инжиниринг Групп, телефон МБИ'
		};

block nav
	include html/includes/navbar-active/_style-contacts

block body
	include html/pages/_contacts