extends html/layouts/_default

block page-vars
	-
		var page = {
			title: 'Реквизиты | МБ Инжиниринг Групп',
			description: 'Реквизиты компании МБ Инжиниринг Групп',
			keywords: 'реквизиты ООО МБИ, реквизиты МБ Инжиниринг Групп'
		};

block nav
	include html/includes/navbar-active/_style-about

block body
	include html/pages/about/_details