extends html/layouts/_default

block page-vars
	-
		var page = {
			title: 'Главная | МБ Инжиниринг Групп',
			description: 'Компания МБ Инжиниринг Групп предлагает свои услуги по проектированию и монтажу инженерных систем для любых видов объектов',
			keywords: 'инженерные системы, проектирование инженерных систем, монтаж инженерных систем'
		};

block body
	include html/pages/_home