extends html/layouts/_default

block page-vars
  -
    var page = {
      title: 'Монтаж слаботочных систем | МБ Инжиниринг Групп',
      description: 'Монтаж систем безопасности и коммуникационных сетей',
      keywords: 'монтаж сетей коммуникаций, монтаж системы видеонаблюдения, монтаж системы пожаротушения'
    };

block nav
  include html/includes/navbar-active/_style-montazh

block body
  include html/pages/montazh/_montazh-cam