extends html/layouts/_default

block page-vars
	-
		var page = {
			title: 'Монтаж системы отопления и вентиляции | МБ Инжиниринг Групп',
			description: 'Монтаж и проектирование системы вентиляции и теплоснабжения - полный спектр услуг по проектированию и монтажу систем кондиционирования и обогрева для любых помещений',
			keywords: 'монтаж систем теплоснабжения, монтаж систем вентиляции и кондиционирования, проектирование систем теплоснабжения, проектирование систем вентиляции, проектирование систем кондиционирования'
		};

block nav
	include html/includes/navbar-active/_style-montazh

block body
	include html/pages/montazh/_montazh-tep