extends html/layouts/_default

block page-vars
	-
		var page = {
			title: 'Монтаж системы электроснабжения | МБ Инжиниринг Групп',
			description: 'Монтаж и проектирование системы электрических сетей и электроснабжения для любых объектов',
			keywords: 'монтаж систем электроснабжения, монтаж системы электроснабжения, проектирование электроснабжения, проектирование электрических сетей'
		};

block nav
	include html/includes/navbar-active/_style-montazh

block body
	include html/pages/montazh/_montazh-el