extends html/layouts/_default

block page-vars
	-
		var page = {
			title: 'Портфолио | МБ Инжиниринг Групп',
			description: 'Основные выполненные работы компании МБ Инжиниринг Групп',
			keywords: 'выполненные монтажные работы, выполненные проектные работы'
		};

block nav
	include html/includes/navbar-active/_style-portfolio

block body
	include html/pages/portfolio/_portfolio