extends html/layouts/_default

block page-vars
  -
    var page = {
      title: 'Портфолио – Проекты | МБ Инжиниринг Групп',
      description: 'Основные выполненные работы по проектированию компании МБ Инжиниринг Групп',
      keywords: 'пример работ по проетированию, портфолио проектных работ'
    };

block nav
  include html/includes/navbar-active/_style-portfolio

block body
  include html/pages/portfolio/_portfolio-project