extends html/layouts/_default

block page-vars
  -
    var page = {
      title: 'Портфолио – Монтаж | МБ Инжиниринг Групп',
      description: 'Основные выполненные монтажные работы компании МБ Инжиниринг Групп',
      keywords: 'пример монтажных работ, портфолио работ по монтажу'
    };

block nav
  include html/includes/navbar-active/_style-portfolio

block body
  include html/pages/portfolio/_portfolio-montazh