extends html/layouts/_default

block page-vars
	-
		var page = {
			title: 'Проектирование | МБ Инжиниринг Групп',
			description: 'Компания МБ Инжиниринг Групп оказывает профессиональные услуги по проектированию инженерных систем высокого качества. Обращайтесь к профессионалам, закажите бесплатную консультацию.',
			keywords: 'проектирование инженерных систем, современные инженерные системы, стоимость проектирования инженерных систем, проектирование инженерных сетей и систем'
		};

block nav
	include html/includes/navbar-active/_style-project

block body
	include html/pages/project/_project