extends html/layouts/_default

block page-vars
	-
		var page = {
			title: 'Отзывы | МБ Инжиниринг Групп',
			description: 'Отзывы клиентов МБ Инжиниринг Групп',
			keywords: 'отзывы о компании МБ Инжиниринг Групп, отзывы заказчиков'
		};

block nav
	include html/includes/navbar-active/_style-about

block body
	include html/pages/about/_reviews