extends html/layouts/_default

block page-vars
	-
		var page = {
			title: 'Вакансии | МБ Инжиниринг Групп',
			keywords: 'Вакансии компании МБ Инжиниринг Групп',
			description: 'вакансии, прием на работу, объявления о работе'
		};

block nav
	include html/includes/navbar-active/_style-about

block body
	include html/pages/about/_vacancy