// Exo2Regular
@font-face {
  font-family: 'Play';
  src: url('../fonts/play/play-regular/play-regular.woff') format('woff'),
       url('../fonts/play/play-regular/play-regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

// Exo2Bold
@font-face {
  font-family: 'Play';
  src: url('../fonts/play/play-bold/play-bold.woff') format('woff'),
       url('../fonts/play/play-bold/play-bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}