main.details

	.container
		.row.block
			.col-xs-12
				.breadcrumbs
					ul.breadcrumbs__list
						li.breadcrumbs__item
							a.breadcrumbs__link(href="index.html")
								span.breadcrumbs__icon
									+svg-icon('home')
						li.breadcrumbs__item
							a.breadcrumbs__link(href="about.html") О компании
						li.breadcrumbs__item
							a.breadcrumbs__link(href="details.html") Реквизиты
				h2.page__title.h1#details Реквизиты

				h1.details__title.h3.mt_1-5 Реквизиты компании ООО "МБИ"

				.details__title.h4 Полное фирменное наименование Общества: 
				p.details__text Общество с ограниченной ответственностью «МБ Инжиниринг Групп»

				.details__title.h4 Сокращенное фирменное наименование Общества: 
				p.details__text ООО «МБИ»

				.details__title.h4 Юридический адрес:
				p.details__text 195027, РФ, г.Санкт-Петербург, ул. Якорная, дом 13, литер А, офис 311

				.details__title.h4 Почтовый адрес: 
				p.details__text 195027, РФ, г.Санкт-Петербург, ул. Якорная, дом 13, литер А, офис 311

				.details__text ИНН 7814201245
				.details__text КПП 780601001
				.details__text ОГРН 1157847121630
				.details__text р/счет 40702810932200001093
				.details__text в Филиале «Санкт-Петербургский» АО «Альфа-Банк»
				.details__text к/счет 30101810600000000786
				p.details__text БИК 044030786

				.details__text Тел.: +7-(921)-855-51-66
				p.details__text E-mail: info@mbeg.ru

				.details__text Генеральный директор: Патракеев Виктор Сергеевич
				
				.details__download
					.details__title.h4 Скачать Word файл
					.contacts__btn-wrap
						a.contacts__btn.btn(href="download/Rekvizity-OOO-MBI.doc") Скачать