main.partners-2

	.container
		.row.block
			.col-xs-12
				.breadcrumbs
					ul.breadcrumbs__list
						li.breadcrumbs__item
							a.breadcrumbs__link(href="index.html")
								span.breadcrumbs__icon
									+svg-icon('home')
						li.breadcrumbs__item
							a.breadcrumbs__link(href="about.html") О компании
						li.breadcrumbs__item
							a.breadcrumbs__link(href="partners.html") Партнеры
				h1.h1.page__title.mb_1-5 Партнеры

				.row
					.col-xs-12
						p.partners__text
							|Мы благодарим своих Партнеров за продуктивное сотрудничество и совместное решение поставленных задач, а также надеемся на долгосрочные отношения в области проектирования и строительства.

	.container
		.row.block
			.col-sm-8
				h3 Наши партнеры
			.col-sm-4.text-xs-center.text-sm-right
				.pagination
					a.pagination__link.pagination__prev(href="partners.html")
					a.pagination__link(href="partners.html") 1
					a.pagination__link.pagination__link_active(href="partners-2.html") 2
					//- a.pagination__link(href="partners-3.html") 3
					span.pagination__link.pagination__next
			.row
				.partners__item.col-xs-12
					.row
						.col-sm-10.offset-sm-2
							h4.partners__title#vibrotechmash Вибротехмаш
						.col-sm-2
							.partners__icon-wrap
								+svg-icon-full('p-vibrotechmash')
						.col-sm-10
							p.partners__text
								|Вибротехмаш - металлические конструкции любой сложности. Более 20 лет на рынке металлоконструкций.
							a.partners__link(href="http://www.vibrotech.ru/", target="_blank") vibrotech.ru

				.partners__item.col-xs-12
					.row
						.col-sm-10.offset-sm-2
							h4.partners__title#kvartira Квартира
						.col-sm-2
							.partners__icon-wrap
								+svg-icon-full('p-kvartira')
						.col-sm-10
							p.partners__text
								|Профессиональный ремонт квартир, домов и офисов под ключ в Санкт-Петербурге и Ленинградской области.
							a.partners__link(href="http://kvartira.in/", target="_blank") kvartira.in

				.partners__item.col-xs-12
					.row
						.col-sm-10.offset-sm-2
							h4.partners__title#nepspb Негосударственная экспертиза и проектирование
						.col-sm-2
							.partners__icon-wrap
								+svg-icon-full('p-nepspb')
						.col-sm-10
							p.partners__text
								|ООО «Негосударственная экспертиза и проектирование», коллектив специалистов по организации и проведению негосударственной экспертизы проектной документации и (или) результатов инженерных изысканий. Основная деятельность направлена на повышение уровня безопасности жизни и здоровья граждан, имущества физических и юридических лиц, государственного и муниципального имущества.
							a.partners__link(href="http://nepspb.net/", target="_blank") nepspb.net

				.partners__item.col-xs-12
					.row
						.col-sm-10.offset-sm-2
							h4.partners__title#minimax Минимакс
						.col-sm-2
							.partners__icon-wrap
								+svg-icon-full('p-minimax')
						.col-sm-10
							p.partners__text
								|ООО «Минимакс» работает на электротехническом рынке России с 1993 года, являясь одним из признанных лидеров среди поставщиков низковольтной аппаратуры; кабельно-проводниковой, светотехнической и электрощитовой продукции; электроустановочных и электромонтажных изделий. Компания «Минимакс» осуществляет комплексные поставки электрооборудования для объектов строительства, жилищно-коммунального хозяйства, промышленных предприятий.
							a.partners__link(href="https://www.minimaks.ru/", target="_blank") minimaks.ru

				.partners__item.col-xs-12
					.row
						.col-sm-10.offset-sm-2
							h4.partners__title#tt Team Travel
						.col-sm-2
							.partners__icon-wrap
								+svg-icon-full('p-tt')
						.col-sm-10
							p.partners__text
								|TeamTravel – сервис командировок B2B.
							a.partners__link(href="http://y360.ru/", target="_blank") y360.ru

			.col-xs-12.text-xs-center.text-sm-right
				.pagination
					a.pagination__link.pagination__prev(href="partners.html")
					a.pagination__link(href="partners.html") 1
					a.pagination__link.pagination__link_active(href="partners-2.html") 2
					//- a.pagination__link(href="partners-3.html") 3
					span.pagination__link.pagination__next