main.partners

	.container
		.row.block
			.col-xs-12
				.breadcrumbs
					ul.breadcrumbs__list
						li.breadcrumbs__item
							a.breadcrumbs__link(href="index.html")
								span.breadcrumbs__icon
									+svg-icon('home')
						li.breadcrumbs__item
							a.breadcrumbs__link(href="about.html") О компании
						li.breadcrumbs__item
							a.breadcrumbs__link(href="partners.html") Партнеры
				h1.h1.page__title.mb_1-5 Партнеры

				p.partners__text
					|Мы благодарим своих Партнеров за продуктивное сотрудничество и совместное решение поставленных задач, а также надеемся на долгосрочные отношения в области проектирования и строительства.

	.container
		.row.block
			.col-sm-8
				h3 Наши партнеры
			.col-sm-4.text-xs-center.text-sm-right
				.pagination
					span.pagination__link.pagination__prev
					a.pagination__link.pagination__link_active(href="partners.html") 1
					a.pagination__link(href="partners-2.html") 2
					//- a.pagination__link(href="partners-3.html") 3
					a.pagination__link.pagination__next(href="partners-2.html")

			.row
				.partners__item.col-xs-12
					.row
						.col-sm-10.offset-sm-2
							h4.partners__title#fazer Fazer
						.col-sm-2
							.partners__icon-wrap
								+svg-icon-full('p-fazer')
						.col-sm-10
							p.partners__text
								|Финская частная компания, производитель продуктов питания. Основная продукция - хлебобулочные и кондитерские изделия, производственные предприятия расположены в странах Скандинавии, Балтии, Великобритании, России, также компании принадлежит сеть кафе Fazer Cafe.
							a.partners__link(href="http://www.fazer.ru/", target="_blank") fazer.ru

				.partners__item.col-xs-12
					.row
						.col-sm-10.offset-sm-2
							h4.partners__title#yota Yota
						.col-sm-2
							.partners__icon-wrap
								+svg-icon-full('p-yota')
						.col-sm-10
							p.partners__text
								|Yota — российская телекоммуникационная компания, федеральный оператор беспроводной связи. Основные направления компании − предоставление услуг мобильной связи и 4G-интернета.
							a.partners__link(href="https://www.yota.ru/", target="_blank") yota.ru

				.partners__item.col-xs-12
					.row
						.col-sm-10.offset-sm-2
							h4.partners__title#mega Mega
						.col-sm-2
							.partners__icon-wrap
								+svg-icon-full('p-mega')
						.col-sm-10
							p.partners__text
								|МЕГА — это крупнейшая сеть торговых центров в России. Все торговые центры МЕГА расположены в городах с населением более 1 млн человек. Уникальным якорным арендатором торговых центров является магазин IKEA, также арендуют торговые площади другие лидеры рынка, такие как «Ашан», ОБИ, «Леруа Мерлен» и «Декатлон». В числе арендаторов галереи — как российские, так и всемирно известные международные бренды.
							a.partners__link(href="https://mega.ru/", target="_blank") mega.ru

				.partners__item.col-xs-12
					.row
						.col-sm-10.offset-sm-2
							h4.partners__title#aviasales Aviasales
						.col-sm-2
							.partners__icon-wrap
								+svg-icon-full('p-aviasales')
						.col-sm-10
							p.partners__text
								|Aviasales.ru — первый и крупнейший в Рунете метапоиск дешевых авиабилетов. На сайте собрана самая большая база предложений авиакомпаний, летающих по России, СНГ и странам мира. Редакция имеет прямые контакты со многими авиакомпаниями и получает информацию об акциях порой раньше, чем она публикуется на сайте самой авиакомпании.
							a.partners__link(href="https://www.aviasales.ru/", target="_blank") aviasales.ru

				.partners__item.col-xs-12
					.row
						.col-sm-10.offset-sm-2
							h4.partners__title#ikea Ikea
						.col-sm-2
							.partners__icon-wrap
								+svg-icon-full('p-ikea')
						.col-sm-10
							p.partners__text
								|Компания IKEA занимается дизайном и реализацией мебели и сопутствующих товаров для дома, рассчитанных на массового потребителя. Концепция мебели ИКЕА состоит в том, что большую часть мебельного ассортимента покупатели собирают дома самостоятельно, также товары перевозятся в плоских коробках, тем самым снижаются затраты на логистику и сервис, что ведет к более низкой стоимости товаров.
							a.partners__link(href="http://www.ikea.com/ru/ru/", target="_blank") ikea.com

				.partners__item.col-xs-12
					.row
						.col-sm-10.offset-sm-2
							h4.partners__title#kidburg КидБург
						.col-sm-2
							.partners__icon-wrap
								+svg-icon-full('p-kidburg')
						.col-sm-10
							p.partners__text
								|КидБург — это пространство, в котором реализованы декорации детского города. В городе есть здания — секции для проведения тематических занятий: Полиция, Банк, Ферма, Аэропорт, Завод и другие. Основная задача — помощь в решении проблем социальной адаптации детей, знакомство с различными профессиями, определение будущих профессиональных интересов.
							a.partners__link(href="http://kidburg.ru/", target="_blank") kidburg.ru

				.partners__item.col-xs-12
					.row
						.col-sm-10.offset-sm-2
							h4.partners__title#technosbit Техносбыт24
						.col-sm-2
							.partners__icon-wrap
								+svg-icon-full('p-technosbit')
						.col-sm-10
							p.partners__text
								|Техносбыт24 - торговая марка компании ООО "МБИ", основанная в 2015 году. Основная деятельность продажа по оптовым ценам климатического оборудования для всех видов помещений, а также светодиодного оборудования проверенных временем производителей.
							a.partners__link(href="http://www.tehnosbyt24.ru/", target="_blank") tehnosbyt24.ru

				.partners__item.col-xs-12
					.row
						.col-sm-10.offset-sm-2
							h4.partners__title#wp Weener Plastic Packaging Group
						.col-sm-2
							.partners__icon-wrap
								+svg-icon-full('p-wp')
						.col-sm-10
							p.partners__text
								|Weener Plastic Packaging Group является международным, поставщиком полного комплекса услуг инновационных решений в сфере пластиковой упаковки. Компания Weener предоставляет дополнительные преимущества в производстве таких изделий, как колпачки, крышки, шарики для дезодорантов, банки и бутылки для индустрий средств личной гигиены, продуктов питания, напитков и бытовой химии.
							a.partners__link(href="http://www.wppg.ru/", target="_blank") wppg.ru

				.partners__item.col-xs-12
					.row
						.col-sm-10.offset-sm-2
							h4.partners__title#yes Yes Team
						.col-sm-2
							.partners__icon-wrap
								+svg-icon-full('p-yes')
						.col-sm-10
							p.partners__text
								|Аутсорсинг бухгалтерских и административных сервисов.
							a.partners__link(href="http://yesteam.ru/", target="_blank") yesteam.ru

				.partners__item.col-xs-12
					.row
						.col-sm-10.offset-sm-2
							h4.partners__title#daikin Daikin
						.col-sm-2
							.partners__icon-wrap
								+svg-icon-full('p-daikin')
						.col-sm-10
							p.partners__text
								|Японская компания, мировой лидер в производстве бытовых и промышленных кондиционеров воздуха, систем отопления и вентиляции помещений. Имеет производства в Японии, Китае, Австралии, Индии, Юго-Восточной Азии, Европе и Северной Америке. Компанию по праву считают новатором мирового уровня в области разработки оборудования для кондиционирования воздуха.
							a.partners__link(href="http://www.daikin.ru/", target="_blank") daikin.ru

			.col-xs-12.text-xs-center.text-sm-right
				.pagination
					span.pagination__link.pagination__prev
					a.pagination__link.pagination__link_active(href="partners.html") 1
					a.pagination__link(href="partners-2.html") 2
					//- a.pagination__link(href="partners-3.html") 3
					a.pagination__link.pagination__next(href="partners-2.html")