main.reviews

  .container
    .row.block
      .col-xs-12
        .breadcrumbs
          ul.breadcrumbs__list
            li.breadcrumbs__item
              a.breadcrumbs__link(href="index.html")
                span.breadcrumbs__icon
                  +svg-icon('home')
            li.breadcrumbs__item
              a.breadcrumbs__link(href="about.html") О компании
            li.breadcrumbs__item
              a.breadcrumbs__link(href="reviews.html") Отзывы
        h1.h1.page__title.mb_1-5 Отзывы

        p.reviews__text
          | Благодаря индивидуальному и ответственному подходу к реализации объектов и выполнению всех технических требований наши заказчики получают именно то, что они запланировали.
        p.reviews__text
          | Ниже представлены отзывы наших партнеров, для которых наша компания выполняла проектные и монтажные работы.

  .container
    .row.block
      .col-xs-12
        h3.reviews__title Отзывы наших клиентов
        .slider-reviews
          .slider-reviews-main.offset-md-2.col-md-8
            .slider-reviews-main__item
              img.slider-reviews-main__img(src="img/review-1.jpg" alt="Отзыв МБИ")
            .slider-reviews-main__item
              img.slider-reviews-main__img(src="img/review-5.jpg" alt="Отзыв МБИ")
            .slider-reviews-main__item
              img.slider-reviews-main__img(src="img/review-2.jpg" alt="Отзыв МБИ")
            .slider-reviews-main__item
              img.slider-reviews-main__img(src="img/review-6.jpg" alt="Отзыв МБИ")
            .slider-reviews-main__item
              img.slider-reviews-main__img(src="img/review-3.jpg" alt="Отзыв МБИ")
            .slider-reviews-main__item
              img.slider-reviews-main__img(src="img/review-7.jpg" alt="Отзыв МБИ")
            .slider-reviews-main__item
              img.slider-reviews-main__img(src="img/review-8.jpg" alt="Отзыв МБИ")
            .slider-reviews-main__item
              img.slider-reviews-main__img(src="img/review-4.jpg" alt="Отзыв МБИ")

          .col-xs-10.offset-xs-1
            .slider-reviews-nav
              .slider-reviews-nav__item
                img.slider-reviews-nav__img(src="img/review-1.jpg" alt="Отзыв МБИ")
              .slider-reviews-nav__item
                img.slider-reviews-nav__img(src="img/review-5.jpg" alt="Отзыв МБИ")
              .slider-reviews-nav__item
                img.slider-reviews-nav__img(src="img/review-2.jpg" alt="Отзыв МБИ")
              .slider-reviews-nav__item
                img.slider-reviews-nav__img(src="img/review-6.jpg" alt="Отзыв МБИ")
              .slider-reviews-nav__item
                img.slider-reviews-nav__img(src="img/review-3.jpg" alt="Отзыв МБИ")
              .slider-reviews-nav__item
                img.slider-reviews-nav__img(src="img/review-7.jpg" alt="Отзыв МБИ")
              .slider-reviews-nav__item
                img.slider-reviews-nav__img(src="img/review-8.jpg" alt="Отзыв МБИ")
              .slider-reviews-nav__item
                img.slider-reviews-nav__img(src="img/review-4.jpg" alt="Отзыв МБИ")