.rub {
	font-family: ALSRubl, $font;
	color: #555;

	&_red {
		color: #ff0000;
	}
}

.page__title {
	margin: 30px 0;
	text-transform: uppercase;
	
	&_white {
		color: #fff;
	}
}

@media (min-width: 768px) {
	.anchor {
		position: relative;
		top: -45px;
	}
}

@import 'section-carousel';
@import 'section-services';
@import 'section-prices';
@import 'section-advantages';
@import 'section-reviews';

.modal {
	font-weight: 300;
}
.modal-content {
	border-radius: 0;
}
.form-control {
	border-radius: 0;
}
.form-control-feedback {
	top: 50%;
	right: 20px !important;
	margin-top: -13px;
}
.input-group-addon {
	padding: 0 10px;
	border-radius: 0;
}

.btn {
	border-radius: 0;
}
.btn-warning,
.btn-warning:active:focus,
.btn-warning:active,
.btn-warning:focus {
	background-color: lighten($main-cl, 8%);
	border-color: $main-cl;
}
.btn-warning:hover {
	background-color: $main-cl;
	border-color: darken($main-cl, 8%);
}
.btn-info,
.btn-info:active:focus,
.btn-info:active,
.btn-info:focus {
	background-color: lighten($second-cl, 8%);
	border-color: $second-cl;
}
.btn-info:hover {
	background-color: $second-cl;
	border-color: darken($second-cl, 8%);
}