.contacts {

  &__title {
    margin-bottom: 0;
  }

  &__link {
    border-bottom: 1px dotted darken($third, 25%);
    color: darken($third, 25%);
    transition: 0.25s;

    &:hover {
      border-bottom: 1px dotted $main;
      color: $main;
    }
  }

  &__btn {
    margin-top: 1rem;
  }
}

.contacts-address__text {
  color: darken($third, 15%);
}

.contacts-map__iframe {
  width: 100%;
}