footer.footer.tip-bg

  .container
    .row
      .col-md-5
        .footer__title Alrun
        .footer__desc Web developer

    .row
      .col-md-7.order-md-1.col-xl-6
        .row
          .col-sm-6
            ul.com__list
              li.com__item
                i.com__icon.icon-github
                a.com__link(href="https://github.com/Alrun", target="_blank") github.com/Alrun
              li.com__item
                i.com__icon.icon-facebook
                a.com__link(href="https://www.facebook.com/alex.run.756", target="_blank") facebook: Al Run
              li.com__item
                i.com__icon.icon-vk
                a.com__link(href="https://vk.com/id56336273", target="_blank") vk: Alex Run

          .col-sm-6
            ul.com__list
              li.com__item
                i.com__icon.icon-email
                span.com__text alrun-mail@yandex.ru
              li.com__item
                i.com__icon.icon-phone
                span.com__text +7 930 116 15 20

      .col-md-5.col-xl-6
        .footer-copyright
          .footer-copyright__content.cl_second
            | ©2017 Web development
