footer.footer.tip-bg

  .container
    .row
      .col-md-6
        .footer-logo
          .footer__title Alrun
          .footer__desc Web development

        .footer-copyright
          | ©2017 Web development


      .col
        ul.com__list
          li.com__item
            i.icon-github
            a.com__link(href="#") alrun.gitgub.io
          li.com__item
            i.icon-facebook
            a.com__link(href="#") facebook: Al Run
          li.com__item
            i.icon-vk
            a.com__link(href="#") vk: Alex Run

      .col
        ul.com__list
          li.com__item
            i.icon-email
            span.com__text alrun-mail@yandex.ru
          li.com__item
            i.icon-phone
            span.com__text +7 930 116 15 20