header.header.tip-bg

  .container
    .row
      .version Version 0.5.0

    .row
      .col-md-4.order-md-2
        .main-circle
          .main-circle__decor
          .main-circle__content
            h1 Alrun
            p Web developer

      .col-md-4.order-md-3
        .circle-right
          .circle-right-line
            p Text
            p Text
            p Text

      .col-md-4.order-md-1
        .circle-left
          .circle-left-line

          .social
            .social__item
              a.social__link(href="#")
                i.icon-vk
            .social__item
              a.social__link(href="#")
                i.icon-facebook
            .social__item
              a.social__link(href="#")
                i.icon-skype
            .social__item
              a.social__link(href="#")
                i.icon-viber