// html,
// body,
// button,
// input,
// optgroup,
// select,
// textarea {
// 	font-family: $font;
// }

body {
	font-family: $font;
  // color: $text-color;
  // background-color: lighten($second-color, 12%);
}

// h1, h2, h3, h4, h5, h6,
// .h1, .h2, .h3, .h4, .h5, .h6 {
//   font-family: inherit;
//   font-weight: 400;
//   color: inherit;
// }

// h1, .h1 {font-size: 2rem;}
// h2, .h2 {font-size: 1.8125rem;}
// h3, .h3 {font-size: 1.5625rem;}
// h4, .h4 {font-size: 1.3125rem;}
// h5, .h5 {font-size: 1.125rem;}
// h6, .h6 {font-size: 1rem;}

// h1, h2 {
//   margin-bottom: 0;
// }
// .h1 {
//   color: $title-color;
// }
// // .block .h1 {
// //   padding-top: 2rem;
// // }
// h2, h3,
// .h1, .h2, .h3 {
//   margin-top: 2rem;
//   text-transform: uppercase;
// }
h2,
.h2 {
  color: $main;
}
h3,
.h3 {
  color: $main-light;
}
// h4, h5, h6,
// .h4, .h5, .h6 {
//   margin-top: 1rem;
//   font-style: italic;

// }
// h4,
// .h4 {
//   margin-bottom: 1rem;
//   color: darken($title-color, 35%);
// }
// h5, h6,
// .h5, .h6 {
//   color: darken($title-color, 55%);
// }

// h6,
// .h6 {
//   text-transform: uppercase;
// }