// Font
$sans-serif: Tahoma, Verdana, Arial, sans-serif;
$serif: serif;
$font: 'Play', $sans-serif;


// Color
$main: #00f0e6;
$main-light: lighten($main, 40%);

$second: #07445e;
$second-light: lighten($second, 10%);
$second-dark: darken($second, 10%);