.portfolio
  .portfolio-carousel.slider.carousel-center

    .slick-slide
      .slick-slide__inner.grad
        .container.overflow_hidden
          .row
            .col-md-6
              .slick-slide__thumbs
                .ps-gallery
                  .container
                    .row
                      figure.ps-gallery__item.ps-gallery__item_main.col-12
                        a.ps-gallery__link(href="img/mbeg-1-full.png", data-size="1870x3855", data-photo-swipe-item)
                          img.ps-gallery__img(src="img/mbeg-1-small.jpg", alt="")
                      figure.ps-gallery__item.col-6.hidden-sm-down
                        a.ps-gallery__link(href="img/mbeg-2-full.jpg", data-size="600x450", data-photo-swipe-item)
                          img.ps-gallery__img(src="img/mbeg-2-small.jpg", alt="")
                      figure.ps-gallery__item.col-6.hidden-sm-down
                        a.ps-gallery__link(href="img/mbeg-2-full.jpg", data-size="600x450", data-photo-swipe-item)
                          img.ps-gallery__img(src="img/mbeg-2-small.jpg", alt="")
              .project
                a.project__link.project__link_main(href="#")
                  i.project__icon.icon-web
                ul.project__list-drop
                  li.project__item
                    a.project__link.bg_second-dark(href="#")
                      i.project__icon.icon-github
                  li.project__item
                    a.project__link.bg_main-light.cl_second(href="#")
                      i.project__icon.icon-wp

            .col-md-6
              .slick-slide__main
                .slick-slide__head.grad
                  h3.slick-slide__title Посадочная страница транспортной компании Авто Групп
                  p.slick-slide__description.h6 Простой лендинг на Bootstrap под управлением WordPress

                .slick-slide__content
                  .slick-slide__list-title Особенности:
                  ul.list
                    li.list__item Адаптивная верстка Bootstrap 3
                    li.list__item Png-иконки собраны в спрайт
                    li.list__item Интеграция с WordPress представлена в виде отдельной темы
                    li.list__item Поддержка IE9+

                  .slick-slide__list-title Проведенные работы:
                  ul.list
                    li.list__item Дизайн
                    li.list__item Рисование png-иконок
                    li.list__item Редактирование изображений
                    li.list__item Адаптивная, кроссбраузерная верстка
                    li.list__item Начальная SEO-оптимизация
                    li.list__item Отправка формы на почту
                    li.list__item Создание темы для WordPress
                    li.list__item Оптимизация скорости загрузки
                    li.list__item Настройка и подключение Яндекс метрики и вебмастера

    .slick-slide
      .slick-slide__inner.grad
        .container.overflow_hidden
          .row
            .col-md-6
              .slick-slide__thumbs
                .ps-gallery
                  .container
                    .row
                      figure.ps-gallery__item.ps-gallery__item_main.col-12
                        a.ps-gallery__link(href="img/mbeg-1-full.jpg", data-size="1870x3855", data-photo-swipe-item)
                          img.ps-gallery__img(src="img/mbeg-1-small.jpg", alt="")
                      figure.ps-gallery__item.col-sm-6.hidden-sm-down
                        a.ps-gallery__link(href="img/mbeg-2-full.jpg", data-size="600x450", data-photo-swipe-item)
                          img.ps-gallery__img(src="img/mbeg-2-small.jpg", alt="")
                      figure.ps-gallery__item.col-sm-6.hidden-sm-down
                        a.ps-gallery__link(href="img/mbeg-2-full.jpg", data-size="600x450", data-photo-swipe-item)
                          img.ps-gallery__img(src="img/mbeg-2-small.jpg", alt="")
              .project
                a.project__link.project__link_main(href="#")
                  i.project__icon.icon-web
                ul.project__list-drop
                  li.project__item
                    a.project__link.bg_second-dark(href="#")
                      i.project__icon.icon-github
                  li.project__item

            .col-md-6
              .slick-slide__main
                .slick-slide__head.grad
                  h3.slick-slide__title Сайт компании МБ Инжиниринг Групп
                  p.slick-slide__description.h6 Многостраничный, адаптивный сайт с svg-иконками

                .slick-slide__content
                  .slick-slide__list-title Особенности:
                  ul.list
                    li.list__item Адаптивная верстка Bootstrap-grid 4 (float)
                    li.list__item SVG-иконки собраны в спрайт и выводятся на страницу через JS-script с кешированием в Local Storage
                    li.list__item Поддержка IE9+

                  .slick-slide__list-title Проведенные работы:
                  ul.list
                    li.list__item Дизайн
                    li.list__item Рисование svg-иконок
                    li.list__item Редактирование изображений
                    li.list__item Адаптивная верстка
                    li.list__item Начальная SEO-оптимизация
                    li.list__item Отправка форм на почту
                    li.list__item Оптимизация скорости загрузки
                    li.list__item Настройка и подключение Яндекс метрики и вебмастера

    .slick-slide
      .slick-slide__inner.grad
        .container.overflow_hidden
          .row
            .col-md-6
              .slick-slide__thumbs
                .ps-gallery
                  .container
                    .row
                      figure.ps-gallery__item.ps-gallery__item_main.col-12
                        a.ps-gallery__link(href="img/mbeg-1-full.jpg", data-size="1870x3855", data-photo-swipe-item)
                          img.ps-gallery__img(src="img/mbeg-1-small.jpg", alt="")
                      figure.ps-gallery__item.col-sm-6.hidden-sm-down
                        a.ps-gallery__link(href="img/mbeg-2-full.jpg", data-size="600x450", data-photo-swipe-item)
                          img.ps-gallery__img(src="img/mbeg-2-small.jpg", alt="")
                      figure.ps-gallery__item.col-sm-6.hidden-sm-down
                        a.ps-gallery__link(href="img/mbeg-2-full.jpg", data-size="600x450", data-photo-swipe-item)
                          img.ps-gallery__img(src="img/mbeg-2-small.jpg", alt="")
              .project
                a.project__link.project__link_main(href="#")
                  i.project__icon.icon-web
                ul.project__list-drop
                  li.project__item
                    a.project__link.bg_second-dark(href="#")
                      i.project__icon.icon-github
                  li.project__item

            .col-md-6
              .slick-slide__main
                .slick-slide__head.grad
                  h3.slick-slide__title 0% JavaScript
                  p.slick-slide__description.h6 Пример адаптивной верстки из PSD-макета без использования JavaScript

                .slick-slide__content
                  .slick-slide__list-title Особенности:
                  ul.list
                    li.list__item HTML+CSS без JS: 2 карусели, всплывающие подсказки, галерея изображений, мобильное меню гамбургер, прижатый книзу подвал
                    li.list__item Адаптивная верстка Bootstrap-grid 4 (float)
                    li.list__item Svg-иконки собраны в спрайт
                    li.list__item Поддержка IE9+

                  .slick-slide__list-title Проведенные работы:
                  ul.list
                    li.list__item Рисование svg-иконок
                    li.list__item Адаптивная верстка
                    li.list__item Оптимизация скорости загрузки

    .slick-slide
      .slick-slide__inner.grad
        .container.overflow_hidden
          .row
            .col-md-6
              .slick-slide__thumbs
                .ps-gallery
                  .container
                    .row
                      figure.ps-gallery__item.ps-gallery__item_main.col-12
                        a.ps-gallery__link(href="img/mbeg-1-full.jpg", data-size="1870x3855", data-photo-swipe-item)
                          img.ps-gallery__img(src="img/mbeg-1-small.jpg", alt="")
                      figure.ps-gallery__item.col-sm-6.hidden-sm-down
                        a.ps-gallery__link(href="img/mbeg-2-full.jpg", data-size="600x450", data-photo-swipe-item)
                          img.ps-gallery__img(src="img/mbeg-2-small.jpg", alt="")
                      figure.ps-gallery__item.col-sm-6.hidden-sm-down
                        a.ps-gallery__link(href="img/mbeg-2-full.jpg", data-size="600x450", data-photo-swipe-item)
                          img.ps-gallery__img(src="img/mbeg-2-small.jpg", alt="")
              .project
                a.project__link.project__link_main(href="#")
                  i.project__icon.icon-web
                ul.project__list-drop
                  li.project__item
                    a.project__link.bg_second-dark(href="#")
                      i.project__icon.icon-github
                  li.project__item

            .col-md-6
              .slick-slide__main
                .slick-slide__head.grad
                  h3.slick-slide__title Сайт портфолио на Github Pages
                  p.slick-slide__description.h6 Одностраничный сайт на Flex c SVG-иконками

                .slick-slide__content
                  .slick-slide__list-title Особенности:
                  ul.list
                    li.list__item Адаптивная верстка Bootstrap 4 (flex)
                    li.list__item Svg-иконки собраны в спрайт и выводятся на страницу через JS-script с кешированием в Local Storage
                    li.list__item CSS-графика (knob)
                    li.list__item Поддержка IE10+

                  .slick-slide__list-title Проведенные работы:
                  ul.list
                    li.list__item Дизайн
                    li.list__item Рисование svg-иконок
                    li.list__item Адаптивная верстка
                    li.list__item Оптимизация скорости загрузки