// Variables

// Background
$main-cl: orange; 
$second-cl: #181F74;

// Font
$sans-serif: Tahoma, Verdana, Arial, sans-serif;
$serif: serif;

// $title-color: #fff;
// $text-color: #979797;
$font: Roboto, $sans-serif;